<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EOTL Order Form</title>
    <!-- import styles -->
    <link rel="stylesheet" media="screen" href="./Styles/index.css">
    <link rel="stylesheet" media="print" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/svgTo.css">
    <!-- import vue.js -->
    <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1 style="background-color: white" ;>{{ title }}</h1>
    </div>
</body>

<!-- Import app from main.js -->
<script src="./main.js"></script>

<!-- import components -->
<!-- Mount App -->
<script>
    const mountedApp = app.mount("#app")
</script>

</html>