<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVG Translated</title>
    <link rel="stylesheet" href="./Styles/index.css">
    <link rel="stylesheet" href="./Styles/svgTo.css">
</head>


<body>
    <div class="flex-container" style="display: flex; justify-content: center; align-items: center">
        <!-- form header -->
        <div class="form-header-grid-container" style="padding-right: 10px; padding-left: 10px;">
            <div class="grid-header-item" id="header">Order form</div>
            <div class="grid-header-item" id="logo">E O <br> T L</div>
            <div class="grid-header-item" id="form-num">Form <div id="dynamic-form-num">{{form_num}}</div>
            </div>
            <div class="grid-header-item" id="type">Type</div>
            <div class="grid-header-item" id="date">Date</div>
            <div class="grid-header-item" id="nickname">Nickname</div>
            <div class="grid-header-item-spacer"></div>
        </div>
    </div>
    <div class="flex-container" style="display: flex; justify-content: center; align-items: center">
        <!-- form body -->
        <div class="form-body-grid-container" style="padding-right: 10px; padding-left: 10px;">
            <!-- options -->
            <div class="grid-body-item" id="options">OPTIONS</div>
            <div class="grid-body-item" id="options-1">1</div>
            <div class="grid-body-item" id="options-2">2</div>
            <div class="grid-body-item" id="options-3">3</div>
            <div class="grid-body-item" id="options-4">4</div>
            <div class="grid-body-item" id="options-wish-note">WISH/NOTE</div>
            <div class="grid-body-item" id="options-cost">COST</div>
            <!-- end options -->

            <div class="grid-body-item" style="background-color: black; color: white;">PANTRY</div>

            <div class="grid-body-item" id="pasta">PASTA</div>
            <div class="grid-body-item-pasta" id="pasta-1">TAGLIATELLE, IT</div>
            <div class="grid-body-item-pasta" id="pasta-2">SPAGHETTI, IT</div>
            <div class="grid-body-item-pasta" id="pasta-3">FUSILLI, IT</div>
            <div class="grid-body-item-pasta" id="pasta-4">MACARONI, DE</div>
            <div class="grid-body-item-pasta" id="pasta-amount">200G</div>
            <div class="grid-body-item-pasta" id="pasta-amount-1">€ 15 x [__]</div>
            <div class="grid-body-item-pasta" id="pasta-amount-2">€ 18 x [__]</div>
            <div class="grid-body-item-pasta" id="pasta-amount-3">€ 18 x [__]</div>
            <div class="grid-body-item-pasta" id="pasta-amount-4">€ 18 x [__]</div>
            <div class="grid-body-item-pasta" id="pasta-wish-note">{{note}}</div>
            <div class="grid-body-item-pasta" id="pasta-cost">€</div>

            <div class="grid-body-item" id="rice">RICE</div>
            <div class="grid-body-item-rice" id="rice-1">JASMIN, TH</div>
            <div class="grid-body-item-rice" id="rice-2">BASMATI, IN</div>
            <div class="grid-body-item-rice" id="rice-3">BROWN, IN</div>
            <div class="grid-body-item-rice" id="rice-4">ARBORIO, IT</div>
            <div class="grid-body-item-rice" id="rice-amount">200G</div>
            <div class="grid-body-item-rice" id="rice-amount-1">€ 15 x [__]</div>
            <div class="grid-body-item-rice" id="rice-amount-2">€ 15 x [__]</div>
            <div class="grid-body-item-rice" id="rice-amount-3">€ 15 x [__]</div>
            <div class="grid-body-item-rice" id="rice-amount-4">€ 15 x [__]</div>
            <div class="grid-body-item-rice" id="rice-wish-note">{{note}}</div>
            <div class="grid-body-item-rice" id="rice-cost">€</div>

            <div class="grid-body-item" id="nuts">NUTS</div>
            <div class="grid-body-item-nuts" id="nuts-1">WALNUT, RD</div>
            <div class="grid-body-item-nuts" id="nuts-2">CASHEW, BR</div>
            <div class="grid-body-item-nuts" id="nuts-3">ALMOND, ES</div>
            <div class="grid-body-item-nuts" id="nuts-4">HAZELNUT, DE</div>
            <div class="grid-body-item-nuts" id="nuts-amount">100G</div>
            <div class="grid-body-item-nuts" id="nuts-amount-1">€ 15 x [__]</div>
            <div class="grid-body-item-nuts" id="nuts-amount-2">€ 15 x [__]</div>
            <div class="grid-body-item-nuts" id="nuts-amount-3">€ 15 x [__]</div>
            <div class="grid-body-item-nuts" id="nuts-amount-4">€ 18 x [__]</div>
            <div class="grid-body-item-nuts" id="nuts-wish-note">{{note}}</div>
            <div class="grid-body-item-nuts" id="nuts-cost">€</div>

            <div class="grid-body-item" id="seeds">SEEDS</div>
            <div class="grid-body-item-seeds" id="seeds-1">CHIA, BR</div>
            <div class="grid-body-item-seeds" id="seeds-2">FLAX, RU</div>
            <div class="grid-body-item-seeds" id="seeds-3">SUNFLWR, IT</div>
            <div class="grid-body-item-seeds" id="seeds-4">PUMPKIN, IT</div>
            <div class="grid-body-item-seeds" id="seeds-amount">100G</div>
            <div class="grid-body-item-seeds" id="seeds-amount-1">€ 15 x [__]</div>
            <div class="grid-body-item-seeds" id="seeds-amount-2">€ 15 x [__]</div>
            <div class="grid-body-item-seeds" id="seeds-amount-3">€ 15 x [__]</div>
            <div class="grid-body-item-seeds" id="seeds-amount-4">€ 18 x [__]</div>
            <div class="grid-body-item-seeds" id="seeds-wish-note">{{ note }}</div>
            <div class="grid-body-item-seeds" id="seeds-cost">€</div>

            <div class="grid-body-item" id="legumes">LEGUMES</div>
            <div class="grid-body-item-legumes" id="legumes-1">CHICKP, IT</div>
            <div class="grid-body-item-legumes" id="legumes-2">BLACK BEAN, IT</div>
            <div class="grid-body-item-legumes" id="legumes-3">RD LENTIL, IT</div>
            <div class="grid-body-item-legumes" id="legumes-4">GRN PEAS, IT</div>
            <div class="grid-body-item-legumes" id="legumes-amount">100G</div>
            <div class="grid-body-item-legumes" id="legumes-amount-1">€ 15 x [__]</div>
            <div class="grid-body-item-legumes" id="legumes-amount-2">€ 15 x [__]</div>
            <div class="grid-body-item-legumes" id="legumes-amount-3">€ 15 x [__]</div>
            <div class="grid-body-item-legumes" id="legumes-amount-4">€ 18 x [__]</div>
            <div class="grid-body-item-legumes" id="legumes-wish-note">{{ note }}</div>
            <div class="grid-body-item-legumes" id="legumes-cost">€</div>

            <div class="grid-body-item" id="oils">OILS</div>
            <div class="grid-body-item-oils" id="oils-1">OLIVE, IT</div>
            <div class="grid-body-item-oils" id="oils-2">COCO, IT</div>
            <div class="grid-body-item-oils" id="oils-3">SUNFLWR, IT</div>
            <div class="grid-body-item-oils" id="oils-4">GRAPESD, IT</div>
            <div class="grid-body-item-oils" id="oils-amount">500ML</div>
            <div class="grid-body-item-oils" id="oils-amount-1">€ 15 x [__]</div>
            <div class="grid-body-item-oils" id="oils-amount-2">€ 15 x [__]</div>
            <div class="grid-body-item-oils" id="oils-amount-3">€ 15 x [__]</div>
            <div class="grid-body-item-oils" id="oils-amount-4">€ 18 x [__]</div>
            <div class="grid-body-item-oils" id="oils-wish-note">{{ note }}</div>
            <div class="grid-body-item-oils" id="oils-cost">€</div>

            <div class="grid-body-item" id="sweetners">SWEETNER</div>
            <div class="grid-body-item-sweetners" id="sweetners-1">WHT SUGAR, TH</div>
            <div class="grid-body-item-sweetners" id="sweetners-2">BRWN SUGAR, IT</div>
            <div class="grid-body-item-sweetners" id="sweetners-3">HONEY, DE</div>
            <div class="grid-body-item-sweetners" id="sweetners-4">XYLIT, DE</div>
            <div class="grid-body-item-sweetners" id="sweetners-amount">200G</div>
            <div class="grid-body-item-sweetners" id="sweetners-amount-1">€ 15 x [__]</div>
            <div class="grid-body-item-sweetners" id="sweetners-amount-2">€ 15 x [__]</div>
            <div class="grid-body-item-sweetners" id="sweetners-amount-3">250ML € x [__]</div>
            <div class="grid-body-item-sweetners" id="sweetners-amount-4">€ 18 x [__]</div>
            <div class="grid-body-item-sweetners" id="sweetners-wish-note">{{ note }}</div>
            <div class="grid-body-item-sweetners" id="sweetners-cost">€</div>

            <div class="grid-body-item" style="background-color: black; color: white;">CLEANING</div>

            <div class="grid-body-item" id="dishes">DISHES</div>
            <div class="grid-body-item-dishes" id="dishes-1">SOAP LQD</div>
            <div class="grid-body-item-dishes" id="dishes-2">DISHWSHR LQD</div>
            <div class="grid-body-item-dishes" id="dishes-3">DISHWSHR TBS*</div>
            <div class="grid-body-item-dishes" id="dishes-4">DISHWSHR SALT*</div>
            <div class="grid-body-item-dishes" id="dishes-amount">500MLS</div>
            <div class="grid-body-item-dishes" id="dishes-amount-1">€ 5,5 X [__]</div>
            <div class="grid-body-item-dishes" id="dishes-amount-2">€ 5,5 x [__]</div>
            <div class="grid-body-item-dishes" id="dishes-amount-3">20PS € 2.5 x [__]</div>
            <div class="grid-body-item-dishes" id="dishes-amount-4">1KG € 2.0 x [__]</div>
            <div class="grid-body-item-dishes" id="dishes-wish-note">{{ note }}</div>
            <div class="grid-body-item-dishes" id="dishes-cost">€</div>

            <div class="grid-body-item" id="laundry">LAUNDRY</div>
            <div class="grid-body-item-laundry" id="laundry-1">PWDR</div>
            <div class="grid-body-item-laundry" id="laundry-2">LQD</div>
            <div class="grid-body-item-laundry" id="laundry-3">LQD WOOL</div>
            <div class="grid-body-item-laundry" id="laundry-4">SOFTNR BALL*</div>
            <div class="grid-body-item-laundry" id="laundry-amount">500MLS</div>
            <div class="grid-body-item-laundry" id="laundry-amount-1">€ 5,5 X [__]</div>
            <div class="grid-body-item-laundry" id="laundry-amount-2">€ 5,5 x [__]</div>
            <div class="grid-body-item-laundry" id="laundry-amount-3">€ 5,5 x [__]</div>
            <div class="grid-body-item-laundry" id="laundry-amount-4">3PCS € 3.5 x [__]</div>
            <div class="grid-body-item-laundry" id="laundry-wish-note">{{ note }}</div>
            <div class="grid-body-item-laundry" id="laundry-cost">€</div>

            <div class="grid-body-item" id="fluids">FLUIDS</div>
            <div class="grid-body-item-fluids" id="fluids-1">SOAP LQD</div>
            <div class="grid-body-item-fluids" id="fluids-2">DISHWSHR LQD</div>
            <div class="grid-body-item-fluids" id="fluids-3">DISHWSHR TBS*</div>
            <div class="grid-body-item-fluids" id="fluids-4">DISHWSHR SALT*</div>
            <div class="grid-body-item-fluids" id="fluids-amount">500ML</div>
            <div class="grid-body-item-fluids" id="fluids-amount-1">€ 5,5 X [__]</div>
            <div class="grid-body-item-fluids" id="fluids-amount-2">€ 5,5 x [__]</div>
            <div class="grid-body-item-fluids" id="fluids-amount-3">20PS € 2.5 x [__]</div>
            <div class="grid-body-item-fluids" id="fluids-amount-4">1KG € 2.0 x [__]</div>
            <div class="grid-body-item-fluids" id="fluids-wish-note">{{ note }}</div>
            <div class="grid-body-item-fluids" id="fluids-cost">€</div>

            <div class="grid-body-item" id="cleaning-supplies">SUPPLIES</div>
            <div class="grid-body-item-cleaning-supplies" id="cleaning-supplies-1">WDN DISH BRSH</div>
            <div class="grid-body-item-cleaning-supplies" id="cleaning-supplies-2">KTCN CLOTH</div>
            <div class="grid-body-item-cleaning-supplies" id="cleaning-supplies-3">NATR SPONGE</div>
            <div class="grid-body-item-cleaning-supplies" id="cleaning-supplies-4">FLOOR CLOTH</div>
            <div class="grid-body-item-cleaning-supplies" id="cleaning-supplies-amount">N/A</div>
            <div class="grid-body-item-cleaning-supplies" id="cleaning-supplies-amount-1">1PC € 1.5 X [__]</div>
            <div class="grid-body-item-cleaning-supplies" id="cleaning-supplies-amount-2">3PC € 3.5 x [__]</div>
            <div class="grid-body-item-cleaning-supplies" id="cleaning-supplies-amount-3">3PC € 4.5 x [__]</div>
            <div class="grid-body-item-cleaning-supplies" id="cleaning-supplies-amount-4">3PC € 3.5 x [__]</div>
            <div class="grid-body-item-cleaning-supplies" id="cleaning-supplies-wish-note">{{ note }}</div>
            <div class="grid-body-item-cleaning-supplies" id="cleaning-supplies-cost">€</div>

            <div class="grid-body-item" style="background-color: black; color: white;">APOTHECARY</div>

            <div class="grid-body-item" id="hair">HAIR</div>
            <div class="grid-body-item-hair" id="hair-1">SHAMP LQD</div>
            <div class="grid-body-item-hair" id="hair-2">CNDTNR LQD</div>
            <div class="grid-body-item-hair" id="hair-3">SHAMP BAR</div>
            <div class="grid-body-item-hair" id="hair-4">CNDTNR BAR</div>
            <div class="grid-body-item-hair" id="hair-amount">500ML</div>
            <div class="grid-body-item-hair" id="hair-amount-1">€ 1.5 X [__]</div>
            <div class="grid-body-item-hair" id="hair-amount-2">€ 1.5 x [__]</div>
            <div class="grid-body-item-hair" id="hair-amount-3">1P / € 5.5 x [__]</div>
            <div class="grid-body-item-hair" id="hair-amount-4">1P / € 6.0 x [__]</div>
            <div class="grid-body-item-hair" id="hair-wish-note">{{ note }}</div>
            <div class="grid-body-item-hair" id="hair-cost">€</div>

            <div class="grid-body-item" id="body">BODY</div>
            <div class="grid-body-item-body" id="body-1">OLIVE BAR</div>
            <div class="grid-body-item-body" id="body-2">LAVNDR BAR</div>
            <div class="grid-body-item-body" id="body-3">BODY BTTR</div>
            <div class="grid-body-item-body" id="body-4">DEO CRM</div>
            <div class="grid-body-item-body" id="body-amount">1P/50 ML</div>
            <div class="grid-body-item-body" id="body-amount-1">1P/€ 5.5 X [__]</div>
            <div class="grid-body-item-body" id="body-amount-2">1P/€ 5.5 X [__]</div>
            <div class="grid-body-item-body" id="body-amount-3">€ 5.5 x [__]</div>
            <div class="grid-body-item-body" id="body-amount-4">€ 9.0 x [__]</div>
            <div class="grid-body-item-body" id="body-wish-note">{{ note }}</div>
            <div class="grid-body-item-body" id="body-cost">€</div>

            <div class="grid-body-item" id="dental">DENTAL</div>
            <div class="grid-body-item-dental" id="dental-1">FLOSS</div>
            <div class="grid-body-item-dental" id="dental-2">TOOTH PWDR</div>
            <div class="grid-body-item-dental" id="dental-3">TOOTH TBS</div>
            <div class="grid-body-item-dental" id="dental-4">BAMBOO BRSH</div>
            <div class="grid-body-item-dental" id="dental-amount">N/A</div>
            <div class="grid-body-item-dental" id="dental-amount-1">1P/ € 3.5 X [__]</div>
            <div class="grid-body-item-dental" id="dental-amount-2">€ 1.5 x [__]</div>
            <div class="grid-body-item-dental" id="dental-amount-3">3OP/ € 2.5 x [__]</div>
            <div class="grid-body-item-dental" id="dental-amount-4">1P/ € 3.5 x [__]</div>
            <div class="grid-body-item-dental" id="dental-wish-note">{{ note }}</div>
            <div class="grid-body-item-dental" id="dental-cost">€</div>

            <div class="grid-body-item" id="apothecary-supplies">SUPPLIES</div>
            <div class="grid-body-item-apothecary-supplies" id="apothecary-supplies-1">TOILET PPR</div>
            <div class="grid-body-item-apothecary-supplies" id="apothecary-supplies-2">Q-TIPS</div>
            <div class="grid-body-item-apothecary-supplies" id="apothecary-supplies-3">SAFETY RZR</div>
            <div class="grid-body-item-apothecary-supplies" id="apothecary-supplies-4">DIVA CUP</div>
            <div class="grid-body-item-apothecary-supplies" id="apothecary-supplies-amount">N/A</div>
            <div class="grid-body-item-apothecary-supplies" id="apothecary-supplies-amount-1">8P/ € 2.0 X [__]</div>
            <div class="grid-body-item-apothecary-supplies" id="apothecary-supplies-amount-2">50P/ € 2.5 x [__]</div>
            <div class="grid-body-item-apothecary-supplies" id="apothecary-supplies-amount-3">1P/ € 25.0 x [__]</div>
            <div class="grid-body-item-apothecary-supplies" id="apothecary-supplies-amount-4">1P/ € 16.0 x [__]</div>
            <div class="grid-body-item-apothecary-supplies" id="apothecary-supplies-wish-note">{{ note }}</div>
            <div class="grid-body-item-apothecary-supplies" id="apothecary-supplies-cost">€</div>

            <div class="grid-body-item">TOTAL</div>

            <div class="grid-body-item" id="spacer"></div>
        </div>
    </div>


</body>

</html>