html,
body {
  margin: 20px;
  background-color: black;
}

/* screen styles */
/* #App,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 2em;
  justify-content: center;
}

body {
  display: flex;
  background-color: rgb(187 187 187);
}

img {
  background-color: rgb(228 228 228);
} */

/* screen styles */

/* print styles */
/* @media print {
  img {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 10px;
  }

  h1 {
    display: none;
  }
} */
/* print styles */
