.form-header-grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: white;
  max-width: fit-content;
  padding-top: 15px;

  grid-template-columns: repeat(8, 80px);

  grid-template-rows: 20px 20px 20px 3px;

  grid-template-areas:
    "l f t d n n n n"
    "l h h h n n n n"
    "l h h h n n n n";
}
/* form header */
.grid-header-item {
  border: 0.5px solid black;
  font-size: 0.5em;
}

.grid-header-item-spacer {
  background-color: black;
  grid-column: 1 / -1;
  grid-row: 4 / -1;
}

#header {
  grid-area: h;
  font-size: 20px;
  font-style: bold;
  align-self: end;
  border-top: none;
  border-right: none;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  color: white;
  font-size: 1.5em;
  background-color: black;
  padding: 0.5px;
  border-bottom: 1px solid black;
}

#form-num,
#type,
#date,
div {
  font-family: roboto;
}

#form-num {
  grid-column: 2 / 3;
  border-bottom: 1px solid black;
}

#type {
  grid-column: 3 / 4;
}

#date {
  grid-column: 4 / 5;
}

#nickname {
  grid-area: n;
  border-right: none;
}
/* end form header */

/* form body */
.form-body-grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: white;
  max-width: fit-content;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(23, 30px);
}

/* from inline svgToHTML */
.grid-body-item {
  grid-column: 2 / -1;
  border-top: 1px solid black;
  border-left: 0.5px solid black;
  font-size: 0.5em;
  font-weight: bold;
}

#spacer {
  border-bottom: 4px solid black;
}

#options {
  border-top: none;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

#options-1 {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
  border: none;
  align-self: center;
}

#options-2 {
  grid-column: 4 / 4;
  grid-row: 1 / 1;
  border: none;
  align-self: center;
}

#options-3 {
  grid-column: 5 / 5;
  grid-row: 1 / 1;
  border: none;
  align-self: center;
}

#options-4 {
  grid-column: 6 / 6;
  grid-row: 1 / 1;
  border: none;
  align-self: center;
}

#options-wish-note {
  grid-column: 7 / 7;
  grid-row: 1 / 1;
  border: none;
  align-self: center;
}

#options-cost {
  grid-column: 8 / 8;
  grid-row: 1 / 1;
  border: none;
  align-self: center;
}

/* pasta */
#pasta {
  border-top: none;
  grid-column: 2 / 2;
  grid-row: 3 / 3;
}

.grid-body-item-pasta {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#pasta-1 {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
  font-weight: bold;
  border-top: none;
  border-left: none;
}

#pasta-2 {
  grid-column: 4 / 4;
  grid-row: 3 / 3;
  font-weight: bold;
  border-top: none;
  border-left: none;
}

#pasta-3 {
  grid-column: 5 / 5;
  grid-row: 3 / 3;
  font-weight: bold;
  border-top: none;
  border-left: none;
}

#pasta-4 {
  grid-column: 6 / 6;
  grid-row: 3 / 3;
  font-weight: bold;
  border-top: none;
  border-left: none;
}
#pasta-amount {
  grid-column: 2/2;
  grid-row: 3/3;
  margin-top: 10px;
  margin-left: 1.5px;
}
#pasta-amount-1 {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#pasta-amount-2 {
  grid-column: 4 / 4;
  grid-row: 3 / 3;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#pasta-amount-3 {
  grid-column: 5 / 5;
  grid-row: 3 / 3;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#pasta-amount-4 {
  grid-column: 6 / 6;
  grid-row: 3 / 3;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#pasta-wish-note {
  grid-column: 7 / 7;
  grid-row: 3/ 3;
  border-left: 1px solid black;
}
#pasta-cost {
  grid-column: 8 / 8;
  grid-row: 3/ 3;
  align-content: center;
  border-left: 1px solid black;
}

/* RICE */
.grid-body-item-rice {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#rice {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 4 / 4;
}

#rice-1 {
  grid-column: 3 / 3;
  grid-row: 4 / 4;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#rice-2 {
  grid-column: 4 / 4;
  grid-row: 4 / 4;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#rice-3 {
  grid-column: 5 / 5;
  grid-row: 4 / 4;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#rice-4 {
  grid-column: 6 / 6;
  grid-row: 4 / 4;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#rice-amount {
  grid-column: 2/2;
  grid-row: 4/4;
  margin-top: 10px;
  margin-left: 1.5px;
}
#rice-amount-1 {
  grid-column: 3 / 3;
  grid-row: 4/4;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#rice-amount-2 {
  grid-column: 4 / 4;
  grid-row: 4/4;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#rice-amount-3 {
  grid-column: 5 / 5;
  grid-row: 4/4;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#rice-amount-4 {
  grid-column: 6 / 6;
  grid-row: 4/4;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#rice-wish-note {
  grid-column: 7 / 7;
  grid-row: 4/4;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#rice-cost {
  grid-column: 8 / 8;
  grid-row: 4/4;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

/* NUTS */
.grid-body-item-nuts {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#nuts {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 5 / 5;
}

#nuts-1 {
  grid-column: 3 / 3;
  grid-row: 5 / 5;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#nuts-2 {
  grid-column: 4 / 4;
  grid-row: 5 / 5;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#nuts-3 {
  grid-column: 5 / 5;
  grid-row: 5 / 5;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#nuts-4 {
  grid-column: 6 / 6;
  grid-row: 5 / 5;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#nuts-amount {
  grid-column: 2/2;
  grid-row: 5 / 5;
  margin-top: 10px;
  margin-left: 1.5px;
}
#nuts-amount-1 {
  grid-column: 3 / 3;
  grid-row: 5 / 5;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#nuts-amount-2 {
  grid-column: 4 / 4;
  grid-row: 5 / 5;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#nuts-amount-3 {
  grid-column: 5 / 5;
  grid-row: 5 / 5;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#nuts-amount-4 {
  grid-column: 6 / 6;
  grid-row: 5 / 5;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#nuts-wish-note {
  grid-column: 7 / 7;
  grid-row: 5 / 5;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#nuts-cost {
  grid-column: 8 / 8;
  grid-row: 5 / 5;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

/* SEEDS */
.grid-body-item-seeds {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#seeds {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 6/6;
}

#seeds-1 {
  grid-column: 3 / 3;
  grid-row: 6/6;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#seeds-2 {
  grid-column: 4 / 4;
  grid-row: 6/6;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#seeds-3 {
  grid-column: 5 / 5;
  grid-row: 6/6;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#seeds-4 {
  grid-column: 6 / 6;
  grid-row: 6/6;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#seeds-amount {
  grid-column: 2/2;
  grid-row: 6/6;
  margin-top: 10px;
  margin-left: 1.5px;
}
#seeds-amount-1 {
  grid-column: 3 / 3;
  grid-row: 6/6;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#seeds-amount-2 {
  grid-column: 4 / 4;
  grid-row: 6/6;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#seeds-amount-3 {
  grid-column: 5 / 5;
  grid-row: 6/6;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#seeds-amount-4 {
  grid-column: 6 / 6;
  grid-row: 6/6;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#seeds-wish-note {
  grid-column: 7 / 7;
  grid-row: 6/6;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#seeds-cost {
  grid-column: 8 / 8;
  grid-row: 6/6;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

/* LEGUMES */
.grid-body-item-legumes {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#legumes {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 7/7;
}

#legumes-1 {
  grid-column: 3 / 3;
  grid-row: 7/7;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#legumes-2 {
  grid-column: 4 / 4;
  grid-row: 7/7;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#legumes-3 {
  grid-column: 5 / 5;
  grid-row: 7/7;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#legumes-4 {
  grid-column: 6 / 6;
  grid-row: 7/7;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#legumes-amount {
  grid-column: 2/2;
  grid-row: 7/7;
  margin-top: 10px;
  margin-left: 1.5px;
}
#legumes-amount-1 {
  grid-column: 3 / 3;
  grid-row: 7/7;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#legumes-amount-2 {
  grid-column: 4 / 4;
  grid-row: 7/7;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#legumes-amount-3 {
  grid-column: 5 / 5;
  grid-row: 7/7;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#legumes-amount-4 {
  grid-column: 6 / 6;
  grid-row: 7/7;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#legumes-wish-note {
  grid-column: 7 / 7;
  grid-row: 7/7;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#legumes-cost {
  grid-column: 8 / 8;
  grid-row: 7/7;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

/* OILS */
.grid-body-item-oils {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#oils {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 8/8;
}

#oils-1 {
  grid-column: 3 / 3;
  grid-row: 8/8;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#oils-2 {
  grid-column: 4 / 4;
  grid-row: 8/8;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#oils-3 {
  grid-column: 5 / 5;
  grid-row: 8/8;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#oils-4 {
  grid-column: 6 / 6;
  grid-row: 8/8;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#oils-amount {
  grid-column: 2/2;
  grid-row: 8/8;
  margin-top: 10px;
  margin-left: 1.5px;
}
#oils-amount-1 {
  grid-column: 3 / 3;
  grid-row: 8/8;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#oils-amount-2 {
  grid-column: 4 / 4;
  grid-row: 8/8;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#oils-amount-3 {
  grid-column: 5 / 5;
  grid-row: 8/8;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#oils-amount-4 {
  grid-column: 6 / 6;
  grid-row: 8/8;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#oils-wish-note {
  grid-column: 7 / 7;
  grid-row: 8/8;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#oils-cost {
  grid-column: 8 / 8;
  grid-row: 8/8;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

/* SWEETNERS */
.grid-body-item-sweetners {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#sweetners {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 9/9;
}

#sweetners-1 {
  grid-column: 3 / 3;
  grid-row: 9/9;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#sweetners-2 {
  grid-column: 4 / 4;
  grid-row: 9/9;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#sweetners-3 {
  grid-column: 5 / 5;
  grid-row: 9/9;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#sweetners-4 {
  grid-column: 6 / 6;
  grid-row: 9/9;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#sweetners-amount {
  grid-column: 2/2;
  grid-row: 9/9;
  margin-top: 10px;
  margin-left: 1.5px;
}
#sweetners-amount-1 {
  grid-column: 3 / 3;
  grid-row: 9/9;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#sweetners-amount-2 {
  grid-column: 4 / 4;
  grid-row: 9/9;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#sweetners-amount-3 {
  grid-column: 5 / 5;
  grid-row: 9/9;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#sweetners-amount-4 {
  grid-column: 6 / 6;
  grid-row: 9/9;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#sweetners-wish-note {
  grid-column: 7 / 7;
  grid-row: 9/9;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#sweetners-cost {
  grid-column: 8 / 8;
  grid-row: 9/9;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
/* DISHES */
.grid-body-item-dishes {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#dishes {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 11/11;
}

#dishes-1 {
  grid-column: 3 / 3;
  grid-row: 11/11;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#dishes-2 {
  grid-column: 4 / 4;
  grid-row: 11/11;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#dishes-3 {
  grid-column: 5 / 5;
  grid-row: 11/11;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#dishes-4 {
  grid-column: 6 / 6;
  grid-row: 11/11;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#dishes-amount {
  grid-column: 2/2;
  grid-row: 11/11;
  margin-top: 10px;
  margin-left: 1.5px;
}
#dishes-amount-1 {
  grid-column: 3 / 3;
  grid-row: 11/11;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#dishes-amount-2 {
  grid-column: 4 / 4;
  grid-row: 11/11;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#dishes-amount-3 {
  grid-column: 5 / 5;
  grid-row: 11/11;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#dishes-amount-4 {
  grid-column: 6 / 6;
  grid-row: 11/11;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#dishes-wish-note {
  grid-column: 7 / 7;
  grid-row: 11/11;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#dishes-cost {
  grid-column: 8 / 8;
  grid-row: 11/11;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
/* LAUNDRY */
.grid-body-item-laundry {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#laundry {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 12/12;
}

#laundry-1 {
  grid-column: 3 / 3;
  grid-row: 12/12;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#laundry-2 {
  grid-column: 4 / 4;
  grid-row: 12/12;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#laundry-3 {
  grid-column: 5 / 5;
  grid-row: 12/12;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#laundry-4 {
  grid-column: 6 / 6;
  grid-row: 12/12;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#laundry-amount {
  grid-column: 2/2;
  grid-row: 12/12;
  margin-top: 10px;
  margin-left: 1.5px;
}
#laundry-amount-1 {
  grid-column: 3 / 3;
  grid-row: 12/12;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#laundry-amount-2 {
  grid-column: 4 / 4;
  grid-row: 12/12;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#laundry-amount-3 {
  grid-column: 5 / 5;
  grid-row: 12/12;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#laundry-amount-4 {
  grid-column: 6 / 6;
  grid-row: 12/12;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#laundry-wish-note {
  grid-column: 7 / 7;
  grid-row: 12/12;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#laundry-cost {
  grid-column: 8 / 8;
  grid-row: 12/12;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
/* FLUIDS */
.grid-body-item-fluids {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#fluids {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 13/13;
}

#fluids-1 {
  grid-column: 3 / 3;
  grid-row: 13/13;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#fluids-2 {
  grid-column: 4 / 4;
  grid-row: 13/13;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#fluids-3 {
  grid-column: 5 / 5;
  grid-row: 13/13;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#fluids-4 {
  grid-column: 6 / 6;
  grid-row: 13/13;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#fluids-amount {
  grid-column: 2/2;
  grid-row: 13/13;
  margin-top: 10px;
  margin-left: 1.5px;
}
#fluids-amount-1 {
  grid-column: 3 / 3;
  grid-row: 13/13;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#fluids-amount-2 {
  grid-column: 4 / 4;
  grid-row: 13/13;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#fluids-amount-3 {
  grid-column: 5 / 5;
  grid-row: 13/13;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#fluids-amount-4 {
  grid-column: 6 / 6;
  grid-row: 13/13;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#fluids-wish-note {
  grid-column: 7 / 7;
  grid-row: 13/13;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#fluids-cost {
  grid-column: 8 / 8;
  grid-row: 13/13;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
/* CLEANING-SUPPLIES */
.grid-body-item-cleaning-supplies {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#cleaning-supplies {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 14/14;
}

#cleaning-supplies-1 {
  grid-column: 3 / 3;
  grid-row: 14/14;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#cleaning-supplies-2 {
  grid-column: 4 / 4;
  grid-row: 14/14;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#cleaning-supplies-3 {
  grid-column: 5 / 5;
  grid-row: 14/14;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#cleaning-supplies-4 {
  grid-column: 6 / 6;
  grid-row: 14/14;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#cleaning-supplies-amount {
  grid-column: 2/2;
  grid-row: 14/14;
  margin-top: 10px;
  margin-left: 1.5px;
}
#cleaning-supplies-amount-1 {
  grid-column: 3 / 3;
  grid-row: 14/14;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#cleaning-supplies-amount-2 {
  grid-column: 4 / 4;
  grid-row: 14/14;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#cleaning-supplies-amount-3 {
  grid-column: 5 / 5;
  grid-row: 14/14;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#cleaning-supplies-amount-4 {
  grid-column: 6 / 6;
  grid-row: 14/14;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#cleaning-supplies-wish-note {
  grid-column: 7 / 7;
  grid-row: 14/14;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#cleaning-supplies-cost {
  grid-column: 8 / 8;
  grid-row: 14/14;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
/* HAIR */
.grid-body-item-hair {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#hair {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 16/16;
}

#hair-1 {
  grid-column: 3 / 3;
  grid-row: 16/16;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#hair-2 {
  grid-column: 4 / 4;
  grid-row: 16/16;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}
#hair-3 {
  grid-column: 5 / 5;
  grid-row: 16/16;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#hair-4 {
  grid-column: 6 / 6;
  grid-row: 16/16;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#hair-amount {
  grid-column: 2/2;
  grid-row: 16/16;
  margin-top: 10px;
  margin-left: 1.5px;
}
#hair-amount-1 {
  grid-column: 3 / 3;
  grid-row: 16/16;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#hair-amount-2 {
  grid-column: 4 / 4;
  grid-row: 16/16;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#hair-amount-3 {
  grid-column: 5 / 5;
  grid-row: 16/16;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#hair-amount-4 {
  grid-column: 6 / 6;
  grid-row: 16/16;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#hair-wish-note {
  grid-column: 7 / 7;
  grid-row: 16/16;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#hair-cost {
  grid-column: 8 / 8;
  grid-row: 16/16;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
/* BODY */
.grid-body-item-body {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#body {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 17/17;
}

#body-1 {
  grid-column: 3 / 3;
  grid-row: 17/17;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#body-2 {
  grid-column: 4 / 4;
  grid-row: 17/17;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}
#body-3 {
  grid-column: 5 / 5;
  grid-row: 17/17;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#body-4 {
  grid-column: 6 / 6;
  grid-row: 17/17;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#body-amount {
  grid-column: 2/2;
  grid-row: 17/17;
  margin-top: 10px;
  margin-left: 1.5px;
}
#body-amount-1 {
  grid-column: 3 / 3;
  grid-row: 17/17;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#body-amount-2 {
  grid-column: 4 / 4;
  grid-row: 17/17;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#body-amount-3 {
  grid-column: 5 / 5;
  grid-row: 17/17;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#body-amount-4 {
  grid-column: 6 / 6;
  grid-row: 17/17;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#body-wish-note {
  grid-column: 7 / 7;
  grid-row: 17/17;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#body-cost {
  grid-column: 8 / 8;
  grid-row: 17/17;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
/* DENTAL */
.grid-body-item-dental {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#dental {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 18/18;
}

#dental-1 {
  grid-column: 3 / 3;
  grid-row: 18/18;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#dental-2 {
  grid-column: 4 / 4;
  grid-row: 18/18;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}
#dental-3 {
  grid-column: 5 / 5;
  grid-row: 18/18;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#dental-4 {
  grid-column: 6 / 6;
  grid-row: 18/18;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#dental-amount {
  grid-column: 2/2;
  grid-row: 18/18;
  margin-top: 10px;
  margin-left: 1.5px;
}
#dental-amount-1 {
  grid-column: 3 / 3;
  grid-row: 18/18;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#dental-amount-2 {
  grid-column: 4 / 4;
  grid-row: 18/18;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#dental-amount-3 {
  grid-column: 5 / 5;
  grid-row: 18/18;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#dental-amount-4 {
  grid-column: 6 / 6;
  grid-row: 18/18;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#dental-wish-note {
  grid-column: 7 / 7;
  grid-row: 18/18;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#dental-cost {
  grid-column: 8 / 8;
  grid-row: 18/18;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
/* APOTHECARY-SUPPLIES */
.grid-body-item-apothecary-supplies {
  font-weight: normal;
  grid-column: 2 / -1;
  font-size: 0.5em;
}
#apothecary-supplies {
  border-top: 1px solid black;
  grid-column: 2 / 2;
  grid-row: 19/19;
}

#apothecary-supplies-1 {
  grid-column: 3 / 3;
  grid-row: 19/19;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#apothecary-supplies-2 {
  grid-column: 4 / 4;
  grid-row: 19/19;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}
#apothecary-supplies-3 {
  grid-column: 5 / 5;
  grid-row: 19/19;
  font-weight: bold;
  border-top: 1px solid black;
  border-left: none;
}

#apothecary-supplies-4 {
  grid-column: 6 / 6;
  grid-row: 19/19;
  border-top: 1px solid black;
  font-weight: bold;
  border-left: none;
}
#apothecary-supplies-amount {
  grid-column: 2/2;
  grid-row: 19/19;
  margin-top: 10px;
  margin-left: 1.5px;
}
#apothecary-supplies-amount-1 {
  grid-column: 3 / 3;
  grid-row: 19/19;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#apothecary-supplies-amount-2 {
  grid-column: 4 / 4;
  grid-row: 19/19;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#apothecary-supplies-amount-3 {
  grid-column: 5 / 5;
  grid-row: 19/19;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#apothecary-supplies-amount-4 {
  grid-column: 6 / 6;
  grid-row: 19/19;
  margin-top: 10px;
  border-top: none;
  border-left: none;
}
#apothecary-supplies-wish-note {
  grid-column: 7 / 7;
  grid-row: 19/19;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#apothecary-supplies-cost {
  grid-column: 8 / 8;
  grid-row: 19/19;
  align-content: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
