<template>
    <div>
        <div class="row mb-5">
            <div class="col-4">
                <h3 class="mb-0">
                    <i class="fa fa-group"></i>
                    Bundles
                </h3>
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
            <div class="col-2">
                <router-link :to="{ name: 'inventory:bundle-create' }" class="btn btn-block btn-primary">
                    Add Bundle
                </router-link>
            </div>
        </div>
        <Loading :active="loading" spinner="mini-spinner"/>
            <div class="row border-bottom mb-2" v-for="bundle in bundles">
                <div class="col-6">
                    <strong>
                        {{ bundle.item.name }}
                    </strong>
                </div>
                <div class="col-3">
                </div>
                <div class="col-3 text-right">
                    <a :href="store.config.url_inventory + '/items/' + bundle.item.id" class="btn btn-sm btn-primary">
                        View
                    </a>
                    <router-link :to="{ name: 'inventory:bundle-basics', params: { id: bundle.item.id } }" class="btn btn-sm btn-primary ml-2">
                        Manage
                    </router-link>
                </div>
            </div>
   </div>
</template>

<script>
import Loading from '@/components/Loading.vue'

import DropdownSuppliers from '@/components/DropdownSuppliers'
import Item from '@/components/Item'
import { useEotlCore } from '@eotl/core/store'
import { useStore } from '@/store'

export default {
    name: 'item-list',
    components: {
        Loading,
        DropdownSuppliers,
        Item
    },
    setup(){
        const store = useStore()
        const eotlStore = useEotlCore()
        return { store, eotlStore }
    },
    data() {
        return {
            suppliersAll: [],
            supplierId: 'all',
            bundles: [],
            loading: true
        }
    },
    mounted() {
        this.fetchData();
    },
    methods: {
        async fetchData() {
            this.bundles = await this.eotlStore.fetchGet('/items/details/bundle')
            this.loading = false
        }
    }
}
</script>
