<template>
    <div>
        <div class="row mb-4">
            <div class="col-8">
                <h3 class="mb-0">
                    <i class="fa fa-clipboard-list"></i>
                    {{ action }} Bundle
                </h3>
            </div>
            <div class="col-4 text-right">
                <router-link :to="{ name: 'inventory:bundles' }" class="btn btn-primary">
                    Back To Bundles
                </router-link>
            </div>
        </div>
        <Loading :active="loading" spinner="mini-spinner"/>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills mb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <!-- FIXME: there's no bundles/:id/basics route -->
                    <router-link :to="{ name: 'inventory:bundles-basics', params: { id: $route.params.id } }"
                        class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-basics" aria-selected="true">
                        <i class="fa fa-info-circle"></i>
                        Basics
                    </router-link>
                    <router-link :to="{ name: 'inventory:item-translations', params: { id: $route.params.id } }"
                        class="nav-link" id="v-pills-translation-tab"
                        data-toggle="pill" role="tab" aria-controls="v-pills-translation" aria-selected="false">
                        <i class="fa fa-language"></i>
                        Translations
                    </router-link>
                    <router-link :to="{ name: 'inventory:item-media', params: { id: $route.params.id } }"
                        class="nav-link" id="v-pills-media-tab"
                        data-toggle="pill" role="tab" aria-controls="v-pills-media" aria-selected="false">
                        <i class="fa fa-images"></i>
                        Media
                    </router-link>
                    <router-link :to="{ name: 'inventory:item-inventory', params: { id: $route.params.id } }"
                        class="nav-link" id="v-pills-tags-tab" data-toggle="pill"
                        role="tab" aria-controls="v-pills-tags" aria-selected="false">
                        <i class="fa fa-list"></i>
                        Inventory
                    </router-link>
                    <!-- FIXME: there's no bundles/:id/packaging route -->
                    <router-link :to="{ name: 'inventory:bundle-packaging', params: { id: $route.params.id } }"
                        class="nav-link" id="v-pills-packaging-tab" data-toggle="pill"
                        role="tab" aria-controls="v-pills-packaging" aria-selected="false">
                        <i class="fa fa-object-group"></i>
                        Packaging
                    </router-link>
                </div>
                <hr>
                <div class="nav flex-column mb-4" aria-orientation="vertical">
                    <a :href="store.config.url_inventory + '/items/' + item.id"
                        class="nav-link"
                        title="View Public Listing"
                        taget="_blank">
                        <i class="fa fa-link"></i> View
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <h1>{{ item.name }}</h1>
                <div class="tab-content">
                    <router-view
                        :key="$route.name"
                        :measurements="store.measurements"
                        :item="item"
                        :details="details"
                        :translations="item.translations"
                        :media="media"
                        :tags="tags">
                    </router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Loading from '@/components/Loading.vue'

import { friendlyId } from '@eotl/core/composables'

import { useStore } from '@/store'
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'bundle-manage',
    components: {
        Loading
    },
    setup() {
        const store = useStore()
        const eotlStore = useEotlCore()

        const id = ref("")
        const categories = ref()
        const item = ref(store.defaults.item)
        const details = ref(store.defaults.itemDetails)
        const media = ref([])
        const tags = ref([])
        const loading = ref(true)
        const newItemId = ref(false)
        const action = ref('manage')

        return {
            store,
            eotlStore,
            id,
            categories,
            item,
            details,
            media,
            tags,
            loading,
            newItemId,
            action
        }
    },
    computed: {
        itemId() {
            return friendlyId.makeFid('', this.item.name, '')
        }
    },
    mounted() {
        this.id = this.$route.params.id 
        this.action = 'manage'
        this.fetchBundle(this.id)
    },
    watch: { 
        $route(to, from) {
            console.log(to)
            if (to.name == 'item-manage') {
                this.fetchBundle(to.params.id)
            }
        }
    },
    methods: {
        fetchBundle(itemId) {
            const allowed_details = [
                'description',
                'sustainability', 'transparency', 'dietary', 'allergens',
                'license', 'produced_in'
            ]
            const allowed_media = [
                'audio',
                'image', 'image_default', 'image_header', 
                'video', 'youtube'
            ]
            var vm = this
            this.eotlStore.fetchGet('/categories').then(response => {
                vm.categories = response

                this.eotlStore.fetchGet('/items/details/' + itemId).then(response => {
                    vm.loading = false
                    vm.item = response
                    response.details.forEach((detail) => { 
                        if (allowed_details.indexOf(detail.detailsId) > -1) {
                            vm.details[detail.detailsId] = detail.value.split(',')
                        }
                        if (allowed_media.indexOf(detail.detailsId) > -1) {
                            vm.media.push(detail)
                        }
                    })
                })
            })
        },
        renderDetails() {
            console.log('renderDetails get')
        },
        deleteItem(e) {
            e.preventDefault()
            this.$swal({
                title: 'Really Delete Item',
                text: 'Are you sure you want to delete the item ' + this.itemName +'? Inventories will also be deleted.',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                preConfirm: () => {
                    this.loading = true;
                    this.eotlStore.fetchDelete('/item/' + this.id).then(response => {
                        if (response.success) {
                            
                        }
                        else {
                            this.submitError = response.data.error
                            this.loading = false
                        }
                        return response.data.success
                    }).catch(e => {
                        console.log("error")
                        console.log(e)
                    });
                },
                allowOutsideClick: false
            });
        },
        updateBundle(e) {
            e.preventDefault()
            this.loading = true
            this.eotlStore.fetchPatch('/items/update/' + this.item.id, this.item)
              .then(response => {
                this.eotlStore.alertSuccess('Updated Item successfully')
                this.loading = false
            }).catch(error => {
                this.eotlStore.alertDanger(error)
                this.loading = false
            })
        }
    }
}
</script>
