<template>
    <div>
        <div class="row mb-4">
            <div class="col-9">
                <h3 class="mb-0">
                    <i class="fa fa-list"></i>
                    {{ action }} Bundle
                </h3>
            </div>
            <div class="col-3 text-right">
                <router-link :to="{ name: 'inventory:bundles' }" class="btn btn-block btn-primary">
                    Cancel
                </router-link>
            </div>
        </div>
        <Loading :active="loading" spinner="mini-spinner"/>
        <div class="row mb-4">
            <div class="col-md-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <form @submit="createBundle">
                        <BundleBasics
                            :action="action"
                            :bundle="bundle"
                            :categories="categories">
                            <template v-slot:buttons-basic> 
                                <button type="submit" class="btn btn-success btn-fullwidth">
                                    Create Bundle
                                </button>
                            </template>
                        </BundleBasics>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <small class="text-monospace">What is a Bundle?</small>
                <div class="bg-light mt-2 p-3">
                    <p class="text-monospace">
                        <small>
                            Bundles are a collection of other items.
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ref } from 'vue'

import { friendlyId } from '@eotl/core/composables'
import { useEotlCore } from '@eotl/core/store'

import Loading from '@/components/Loading.vue'
import BundleBasics from '@/components/BundleBasics'

export default {
    name: 'bundle-create',
    components: {
        Loading,
        BundleBasics,
    },
    setup(props) {
        const eotlStore = useEotlCore() 

        const id = ref("")
        const categories = ref({})
        const bundle = ref({
            id: "",
            name: "",
            items: []
        })
        const loading = ref(true)
        const action = ref('create')

        return {
            eotlStore,    
            id,
            categories,
            bundle,
            loading,
            action
        }
    },
    computed: {
        itemId() {
            return friendlyId.makeFid('', this.item.name, '')
        }
    },
    mounted() {
        this.id = this.$route.params.id 
        this.newItemId = true
        this.prepareNewItem()
    },
    watch: { 
        $route(to, from) {
            if (to.name == 'bundle-create') {
                this.fetchItem(to.params.id)
            }
        }
    },
    methods: {
        prepareNewItem() {
            this.loading = false
        },
        async createBundle(e) {
            e.preventDefault()

            const eotlStore = useEotlCore()
            this.loading = true
            this.bundle.items = this.bundle.items.split(',')

            const response = await this.eotlStore.fetchPost('/items/createBundle', this.bundle)
        
            if (response.status == 'success') {
                this.loading = false
                this.eotlStore.alertSuccess(response.success)
            }

        }
    }
}
</script>
