<template>
    <div>
        <div class="row mb-5">
            <div class="col-9">
                <h3 class="mb-0">
                    <i class="fa fa-sitemap"></i>
                    Categories
                </h3>
            </div>
            <div class="col-3 text-right">
                <router-link :to="{ name: 'inventory:category-create' }" class="btn btn-primary">
                    Add Category
                </router-link>
            </div>
        </div>
        <Loading :active="loading" spinner="mini-spinner"/>
        <div>
            <ul class="list-unstyled">
                <li v-for="category in categories" :key="category.id">
                    <Category
                        :category="category">
                    </Category>
                    <hr>
                </li>
            </ul>
        </div>
   </div>
</template>

<script>
import Loading from '@/components/Loading.vue'
import Category from '@/components/Category'

import { useStore } from '@/store'

export default {
    name: 'category-list',
    components: {
        Loading,
        Category
    },
    data() {
        const store = useStore()

        return {
            store,
            categories: store.categories,
            loading: true
        }
    },
    mounted() {
        if (this.store.categories.length > 0) {
            this.loading = false
        } else {
            this.store.fetchCategories()
            this.loading = false
        }
    },
    methods: {}
}
</script>
