<template>
    <div>
        <div class="row mb-5">
            <div class="col-6">
                <h3 class="mb-0">
                    <i class="fa fa-sitemap"></i>
                    Create Category
                </h3>
            </div>
            <div class="col-6 text-right">
                <router-link :to="{ name: 'inventory:categories' }" class="btn btn-primary">
                    Cancel
                </router-link>
            </div>
        </div>
        <Loading :active="loading" spinner="mini-spinner"/>
        <form @submit="createCategory">
            <CategoryEditor v-bind:category="category">
                <template v-slot:buttons>
                    <button type="submit" class="btn btn-success float-right">
                        Create Category
                    </button>
                </template>
            </CategoryEditor>
        </form>
    </div>
</template>

<script>
import Loading from '@/components/Loading.vue'

import CategoryEditor from '@/components/CategoryEditor';

import { useStore } from '@/store';
import { useEotlCore } from '@eotl/core/store';

export default {
    name: 'category-create',
    components: {
        Loading,
        CategoryEditor,
    },
    setup(){
      const eotlStore = useEotlCore()
      return { eotlStore }
    },
    data() {
        const store = useStore()

        return {
            store,
            id: "",
            category: {
                id: '',
                name: '',
                group: 'misc',
                sorting: 0
            },
            loading: true,
            action: 'create',
        }
    },
    mounted() {
        this.id = ''
        this.action = 'create'
        this.loading = false
    },
    watch: {
      $route(to, from) {
        if (to.name == 'category-create') {
          this.fetchItem(to.params.id)
        }
      }
    },
    methods: {
        async createCategory(e) {
            const eotlStore = useEotlCore()
            e.preventDefault()
            this.loading = true
            this.category.sorting = 1

            const response = await eotlStore.fetchPost('/categories/create', this.category)

            if (response.status == 'success') {
                this.eotlStore.alertSuccess('Category Created')
            }

            this.loading = false
        }
    }
}
</script>
