<template>
    <div>
        <div class="row mb-5">
            <div class="col-6">
                <h3 class="mb-0">
                    <i class="fa fa-sitemap"></i>
                    Manage Category
                </h3>
            </div>
            <div class="col-6 text-right">
                <router-link :to="{ name: 'inventory:categories' }" class="btn btn-primary">
                    Back To Categories
                </router-link>
            </div>
        </div>
        <Loading :active="loading" spinner="mini-spinner"/>
        <CategoryEditor :category="category">
            <template v-slot:buttons>
                <button @click="deleteCategoryModal" type="button" class="btn btn-danger">
                    Delete Category
                </button>
                <button type="submit" @click="updateCategory" class="btn btn-success float-right">
                    Update Category
                </button>
            </template>
        </CategoryEditor>
    </div>
</template>

<script>
import Loading from '@/components/Loading.vue'

import CategoryEditor from '@/components/CategoryEditor'

import { useStore } from '@/store'
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'category-manage',
    components: {
        Loading,
        CategoryEditor
    },
    setup() {
        const eotlStore = useEotlCore()
        return { eotlStore }
    },
    data() {
        const store = useStore()

        return {
            store,
            id: "",
            category: {},
            translationWord: '',
            loading: true,
            action: 'manage',
        }
    },
    mounted() {
        this.fetchCategory(this.$route.params.id)
    },
    watch: { 
        $route(to, from) {
            if (to.name == 'category-manage') {
                this.fetchCategory(to.params.id)
            }
        },
    },
    methods: {
        async fetchCategory(categoryId) {
            const response = await this.eotlStore.fetchGet('/categories/' + categoryId)

            if (response.status == 'success') {
                this.category = response.data
                this.translationWord = response.data.id
            }

            this.loading = false
        },
        async deleteCategory(e) {
            this.loading = true
            const response = await this.eotlStore.fetchDelete('/categories/' + self.category.id)

            if (response.status == 'success') {
                this.eotlStore.alertSuccess('Category Updated')
            }

            this.loading = false
        },
        deleteCategoryModal(e) {
            e.preventDefault()
            this.$swal({
                title: 'Delete ' + this.category.id + " Category?",
                text: "Connected entities will be automatically disconnected.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Delete category',
                preConfirm: () => {
                    this.deleteCategory()
                },
                allowOutsideClick: false
            })
        },
        async updateCategory(e) {
            e.preventDefault();
            this.loading = true;

            const categoryUpdate = {
                id: this.category.id,
                category: this.category.name,
                group: this.category.group,
                sorting: 0
            }

            const response = await this.eotlStore.fetchPatch('/categories/' + this.category.id, categoryUpdate)

            if (response.status == 'success') {
                this.eotlStore.alertSuccess('Category Updated')
            }

            this.loading = false
        }
    }
}
</script>
