<template>
    <div>
        <Typeahead></Typeahead>
        <div class="row mb-5">
            <div class="col-md-4">

                <h3>
                    <i class="fa fa-clipboard-list"></i>
                    Items
                </h3>
                <p>
                    Items are objects or products you keep track as
                    inventory for sharing or selling.
                </p>
                <router-link :to="{ name: 'inventory:items' }" class="btn btn-primary">
                  View Items
                </router-link>
            </div>
            <div class="col-md-4">
                <h3>
                    <i class="fa fa-store-alt"></i>
                    Suppliers
                </h3>
                <p>
                    Suppliers are places that produce and distribute to end
                    people or destination.
                </p>
                <router-link :to="{ name: 'inventory:suppliers' }" class="btn btn-primary">
                  View Suppliers
                </router-link>
            </div>
            <div class="col-md-4">
                <h3>
                    <i class="fa fa-sitemap"></i>
                    Categories
                </h3>
                <p>
                    Categories separate Items into groupings to more 
                    easily browse items.
                </p>
                <router-link :to="{ name: 'inventory:categories' }" class="btn btn-primary">
                  View Categories
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
import Typeahead from '@/components/Typeahead'

export default {
    components: {
        Typeahead,
    },
    data () {
        return {
        }
    },
    mounted() {
        // TODO some welcome alerts that welcome a new user
    },
};
</script>
