<template>
    <div>
        <div class="row mb-5">
            <div class="col-4">
                <h3 class="mb-0">
                    <i class="fa fa-clipboard-list"></i>
                    Items
                </h3>
            </div>
            <div class="col-3">
                <select class="form-control" v-model="categoryId">
                    <option value="all">All Categories</option>
                    <optgroup v-for="group in categoriesGroups" :value="group" v-bind:label="groupName(group)" v-bind:key="group.id">
                        <template v-for="category in categoriesAll">
                            <option
                                :key="category.id"
                                :value="category.id"
                                v-if="category.group == group"
                                @change="changeCategoryId(category.name)">
                                {{ category.name }}
                            </option>
                        </template>
                    </optgroup>
                </select>
            </div>
            <div class="col-3">
                <DropdownSuppliers
                    :supplierId="supplierId"
                    @event-supplierId="changeSupplierId">
                </DropdownSuppliers>
            </div>
            <div class="col-2">
                <DropdownItemAdder
                    :supplierId="supplierId">
                </DropdownItemAdder>
            </div>
        </div>
        <Loading :active="loading" spinner="mini-spinner" />
        <div v-for="supplier in search.suppliers">
            <div v-if="search.suppliers.length > 0" :key="supplier.id">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="display-4">
                            {{ supplier.name }}
                        </h4>
                    </div>
                    <div>
                        <span v-if="supplier.street">
                            {{ supplier.street }} {{ supplier.building }}<br>
                        </span>
                        <span v-if="supplier.postalCode">{{ suppliers.postalCode }},</span> 
                        <span v-if="supplier.city">{{ supplier.city }}</span>
                    </div>
                    <div>
                        <i class="fa fa-store-alt h-50"></i>
                    </div>
                </div>
                <hr class="thick">
            </div>
        </div>
        <div v-for="category in search.categories">
            <div class="category-items mb-5" v-if="categoryId == 'all' || category.id == categoryId">
                <h4 class="display-4 mb-0 pb-0 float-left">
                    {{ categoryName(category) }}
                </h4>
                <img class="invert float-right" style="height: 60px;" v-bind:src="store.config.path_icons + category + '.svg'">
                <div class="clearfix"></div>
                <hr class="thick">
                <div v-for="item in search.items">
                    <Item
                        v-if="category == item.categoryId"
                        v-bind:item="item"
                        v-bind:key="item.id">
                    </Item>
                </div>
            </div>
        </div>
   </div>
</template>

<script>
import { ref } from 'vue'

import Loading from '@/components/Loading.vue'
import DropdownItemAdder from '@/components/DropdownItemAdder'
import DropdownSuppliers from '@/components/DropdownSuppliers'
import Item from '@/components/Item'

import { useEotlCore } from '@eotl/core/store'
import { useStore } from '@/store'

export default {
    name: 'items',
    components: {
        Loading,
        DropdownItemAdder,
        DropdownSuppliers,
        Item
    },
    setup() {
        const store = useStore()
        const eotlStore = useEotlCore()

        const categoriesAll = ref([])
        const categoriesGroups = ref([])
        const categoriesCount = ref([])
        const categoryId = ref('all')
        const supplierId = ref('all')
        const search = ref({
            categories: [],
            items: [],
            suppliers: []
        })
        const csv = ref('')
        const csvUrl = ref('')
        const view = ref('global')
        const loading =  ref(true)

        return {
            store,
            eotlStore,
            categoriesAll,
            categoriesGroups,
            categoriesCount,
            categoryId,
            supplierId,
            search,
            csv,
            csvUrl,
            view,
            loading
        }
    },
    mounted() {
        this.buildLists()
    },
    methods: {
        async buildLists() {
            this.categoriesAll = this.store.categories

            const items = await this.eotlStore.fetchGet('/items')
            this.search.items = items.data

            this.buildCategoryGroups(this.categoriesAll)
            this.buildItemsCategories(this.search.items)
            this.loading = false
        },
        buildCategoryGroups(categories) {
            var vm = this;
            categories.forEach((category) => {
                if (!vm.categoriesGroups.includes(category.group)) {
                    vm.categoriesGroups.push(category.group)
                }
            })
        },
        buildItemsCategories(items) {
            var vm = this
            items.forEach((item) => {
                if (!vm.search.categories.includes(item.categoryId)) {
                    vm.search.categories.push(item.categoryId)
                }
            })
        },
        listCounter(category) {
            let count = this.categoriesCount.length
            if (!this.categoriesCount.includes(category)) {
                this.categoriesCount.push(category)
                count++
            
                if (count === this.search.categories.length) {
                    if (this.store.alerts.length > 0) {
                        let title = 'Missing data was detected'
                        let message = JSON.stringify(this.store.alerts)
                        this.eotlStore.alertWarning(message, title)
                    }
                }
            }
        },
        groupName(catGroup) {
            let name = catGroup
            this.store.groups.forEach((group) => {
                if (group.id == catGroup) {
                    name = group.name
                }
            })

            return name
        },
        categoryName(categoryId) {
            let name = categoryId
            let category = this.categoriesAll.find(category => category.id === categoryId)

            if (category === undefined) {
                name = categoryId
                const categoryMissing = 'Category missing: ' + categoryId
                this.store.alerts.push(categoryMissing)
            } else {
                if (category.name !== undefined || category.name !== '') {
                    name = category.name
                } else {
                    const categoryEmpty = 'Empty category.name ' + categoryId
                    this.store.alerts.push(categoryEmpty)
                }
            }

            return name
        },
        changeCategoryId(categoryId) {
            alert('categoryId ', categoryId)
        },
        async changeSupplierId(supplierId) {
            this.loading = true
            this.supplierId = supplierId

            const response = await this.eotlStore.fetchGet('/search?supplier=' + supplierId)

            if (response.status == 'success') {
                this.search = response.data
            }

            this.loading = false
        }
    }
}
</script>

<style scoped>
.category-items {
    background-color: red;
}

.category-icon {
    height: 50px;
    margin-bottom: 0;
    float: right;
}
</style>
