<template>
    <div>
        <div class="row mb-4">
            <div class="col-xs-6 col-sm-5 col-md-3 col-lg-3">
                <h2 class="mb-0">
                    <i class="fa fa-clipboard-list"></i>
                    {{ action }}
                </h2>
            </div>
            <div class="col-xs-6 col-sm-7 col-md-6 col-lg-5">
                <h2 class="mb-0">
                    {{ item.name }}
                </h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 text-right">
                <a v-if="action == 'manage'" :href="'/items/' + item.id" class="btn btn-secondary mr-3">
                    View Listing
                </a>
                <router-link :to="{ name: 'inventory:items' }" class="btn btn-primary">
                    Back To Items
                </router-link>
            </div>
        </div>
        <Loading :active="loading" spinner="mini-spinner"/>
        <div class="row mb-4">
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-3">
                <div v-if="action == 'manage'">
                    <nav class="nav flex-column nav-pills mb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <router-link :to="{ name: 'inventory:item-basics', params: { id: $route.params.id } }"
                            class="nav-link" id="v-pills-basic-tab" data-toggle="pill"
                            role="tab" aria-controls="v-pills-basics" aria-selected="true">
                            <i class="fa fa-info-circle"></i>
                            <span class="ml-2 d-sm-none d-md-none d-lg-inline-block">
                                Basics
                            </span>
                        </router-link>
                        <router-link :to="{ name: 'inventory:item-details', params: { id: $route.params.id } }"
                            class="nav-link" id="v-pills-details-tab" data-toggle="pill"
                            role="tab" aria-controls="v-pills-details" aria-selected="true">
                            <i class="fa fa-tags"></i>
                            <span class="ml-2 d-sm-none d-md-none d-lg-inline-block">
                                Details
                            </span>
                        </router-link>
                        <router-link :to="{ name: 'inventory:item-translations', params: { id: $route.params.id } }"
                            class="nav-link" id="v-pills-translation-tab" data-toggle="pill"
                            role="tab" aria-controls="v-pills-translation" aria-selected="false">
                            <i class="fa fa-language"></i>
                            <span class="ml-2 d-sm-none d-md-none d-lg-inline-block">
                                Translations
                            </span>
                        </router-link>
                        <router-link :to="{ name: 'inventory:item-media', params: { id: $route.params.id } }"
                            class="nav-link" id="v-pills-media-tab" data-toggle="pill"
                            role="tab" aria-controls="v-pills-media" aria-selected="false">
                            <i class="fa fa-images"></i>
                            <span class="ml-2 d-sm-none d-md-none d-lg-inline-block">
                                Media
                            </span>
                        </router-link>
                        <router-link :to="{ name: 'inventory:item-inventory', params: { id: $route.params.id } }"
                            class="nav-link" id="v-pills-inventory-tab" data-toggle="pill"
                            role="tab" aria-controls="v-pills-inventory" aria-selected="false">
                            <i class="fa fa-list"></i>
                            <span class="ml-2 d-sm-none d-md-none d-lg-inline-block">
                                Inventory
                            </span>
                        </router-link>
                        <router-link :to="{ name: 'inventory:item-packaging', params: { id: $route.params.id } }"
                            class="nav-link" id="v-pills-packaging-tab" data-toggle="pill"
                            role="tab" aria-controls="v-pills-packaging" aria-selected="false">
                            <i class="fa fa-object-group"></i>
                            <span class="ml-2 d-sm-none d-md-none d-lg-inline-block">
                                Packaging
                            </span>
                        </router-link>
                        <router-link :to="{ name: 'inventory:item-data', params: { id: $route.params.id } }"
                            class="nav-link" id="v-pills-data-tab" data-toggle="pill"
                            role="tab" aria-controls="v-pills-data" aria-selected="false">
                            <i class="fa fa-database"></i>
                            <span class="ml-2 d-sm-none d-md-none d-lg-inline-block">
                                Data
                            </span>
                        </router-link>
                    </nav>
                </div>
                <div v-if="action == 'create'">
                    <div class="bg-light mt-2 mb-2 p-3">
                        <p class="text-monospace mb-0">
                            <small>
                                Items are a core part of Open Inventory and
                                EOTL's ecosytem. An item can be generic or a
                                specific product from a company.
                                The following are example items:
                            </small>
                        </p>
                    </div>
                    <ul>
                        <li>Organic Oats</li>
                        <li>Olive Oil (virgin)</li>
                        <li>Cargo Bicycle</li>
                        <li>Hammer</li>
                        <li>Video Projector</li>
                        <li>Fairphone 4</li>
                        <li>MTN Reform Laptop</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-11 col-md-11 col-lg-9">
                <div class="tab-content border-top">
                    <router-view
                        v-slot="{ Component }"
                        :key="$route.name"
                        :action="action"
                        :measurements="measurements"
                        :item="item"
                        :details="details"
                        :translations="item.translations"
                        :media="media"
                        :tags="tags">
                        <keep-alive :key="$route.fullPath">
                            <component :is="Component"></component>
                        </keep-alive>
                    </router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ref, reactive } from 'vue'

import Loading from '@/components/Loading.vue'

import { useStore } from '@/store'
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'item-manage',
    components: {
        Loading
    },
    setup() {
        const store = useStore()
        const eotlStore = useEotlCore()

        const id = ref('')
        const item = ref(store.defaults.item)
        const details = ref(store.defaults.itemDetails)
        const media = ref([])
        const tags = ref([])
        const loading = ref(true)
        const measurements = ref(store.measurements)
        const action = ref('create')

        return {
            store,
            eotlStore,
            id,
            item,
            details,
            media,
            tags,
            loading,
            measurements,
            action
        }
    },
    mounted() {
        this.id = this.$route.params.id 
        console.log('ItemManage $route.params.id', this.id, this.action)
        if (this.id == 'create') {
            this.action = 'create'
            this.loading = false
            this.item.name = 'Item Name'
        } else if (this.id != 'create') {
            this.action = 'manage'
            this.loading = false
            this.fetchItem(this.id)
        }
    },
    methods: {
        async fetchItem(itemId) {
            const allowed_details = [
                'description',
                'sustainability', 
                'transparency',
                'dietary',
                'allergens',
                'license',
                'produced_in'
            ]
            const allowed_media = [
                'audio',
                'image',
                'image_default',
                'image_header', 
                'video',
                'youtube'
            ]
        
            const response = await this.eotlStore.fetchGet('/items/details/' + itemId, '?display=all') 

            if (response.status == 'success') {
                this.loading = false
                this.item = response.data

                this.item.details.forEach((detail) => { 
                    if (allowed_details.indexOf(detail.detailsId) > -1) {
                        this.details[detail.detailsId] = detail.value.split(',')
                    }

                    if (allowed_media.indexOf(detail.detailsId) > -1) {
                        this.media.push(detail)
                    }
                })
            }
        },
        async deleteItem() {
            thisloading = true;
            const response = await this.eotlStore.fetchDelete('/item/' + this.id)

            if (!response.success) {
                this.submitError = response.data.error
                this.loading = false
            }
        },
        async updateItem() {
            this.loading = true
            const response = await this.eotlStore.fetchPatch('/items/update/' + this.item.id, vm.item)

        },
        deleteItemModal(e) {
            e.preventDefault()
            var vm = this
            this.$swal({
                title: 'Really Delete Item',
                text: 'Are you sure you want to delete the item ' + vm.itemName +'? Inventories will also be deleted.',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                preConfirm: () => {
                    vm.deleteItem()
                },
                allowOutsideClick: false
            })
        }
    }
}
</script>
