<template>
    <div>
        <h2>Not Found</h2>
        <p>The page your are looking could not be found.
            <router-link :to="{ name: 'inventory:home' }">Go home</router-link>.
        </p>
    </div>
</template>

<script>
export default {
    components: {
    },
    data () {
        return {
        }
    },
    mounted() {
    },
};
</script>
