<template>
    <div>
        <div class="row mb-5">
            <div class="col-6">
                <h3 class="mb-0">
                    <i class="fa fa-store-alt"></i>
                    {{ action }} Supplier
                </h3>
            </div>
            <div class="col-6 text-right">
                <a :href="'/suppliers/' + supplier.id" class="btn btn-secondary mr-3">
                    View Listing
                </a>
                <router-link :to="{ name: 'inventory:suppliers' }" class="btn btn-primary">
                    Back To Suppliers
                </router-link>
            </div>
        </div>
        <Loading :active="loading" spinner="mini-spinner"/>
        <SupplierEditor
            :action="'manage'"
            :supplier="supplier"
            :categories="categories"
            :hours="hours"
            :details="details">
        </SupplierEditor>
        <div class="mb-3">
            <button @click="deleteSupplier" type="submit" class="btn btn-danger btn-fullwidth">
                Delete Supplier
            </button>
            <button @click="updateSupplier" type="submit" class="btn btn-success btn-fullwidth float-right">
                Update Supplier
            </button>
        </div>
    </div>
</template>

<script>
import { ref, computed } from 'vue'

import Loading from '@/components/Loading.vue'

import SupplierEditor from '@/components/SupplierEditor'

import { useStore } from '@/store'
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'supplier-manage',
    components: {
        Loading,
        SupplierEditor
    },
    setup() {
        const store = useStore()
        const eotlStore = useEotlCore()

        const action = ref('manage')
        const loading = ref(true)
        const supplier = ref(store.defaults.supplier)
        const hours = ref(store.defaults.supplierHours)
        const categories = ref([])
        const details =  ref(store.defaults.supplierDetails)

        return {
            store,
            eotlStore,
            action,
            loading,
            supplier,
            hours,
            categories,
            details
        }
    },
    mounted() {
        this.fetchSupplier(this.$route.params.id)
    },
    watch: { 
        $route(to, from) {
            if (to.name == 'supplier-manage') {
                this.fetchSupplier(to.params.id)
            }
        }
    },
    methods: {
        async fetchSupplier() {
            const allowed_details = [
                'phone',
                'website',
                'email',
                'note'
            ]

            const response = await this.eotlStore.fetchGet('/suppliers/' + this.$route.params.id)

            if (response.status == 'success') {
                this.supplier = response.data.supplier

                // Default hours if empty
                if (response.data.businessHours != "") {
                    this.hours = response.data.businessHours
                }

                response.data.details.forEach((detail) => { 

                    // Contact
                    if (allowed_details.indexOf(detail.detailsId) > -1) {
                        this.details[detail.detailsId] = detail.value
                    }

                    // Categories
                    if (detail.detailsId == 'category') {
                        const category = {
                            id: detail.value,
                            category: detail.value
                        }
                        this.categories.push(category)
                    }
                })
            }

            this.loading = false
        },
        async updateSupplier() {
            this.loading = true
            var supplierData = {
                supplier: this.supplier,
                businessHours: this.hours
            }

            var details = {
                details: [{
                        detailsId: 'website',
                        value: this.details.website
                    },{
                        detailsId: 'email',
                        value: this.details.email
                    },{
                        detailsId: 'phone',
                        value: this.details.phone
                    },{
                        detailsId: 'note',
                        value: this.details.note
                    }
                ]
            }

            const response = await this.eotlStore.fetchPatch('/suppliers/update', supplierData)

            if (response.status == 'success') {
                const detailsUrl = '/suppliers/' + this.supplier.id + '/details'
                const responseDetails = await this.eotlStore.fetchPost(detailsUrl, details)

                let message = 'Supplier added successfully'
                if (responseDetails.status == 'success') {
                    message = 'Supplier details added successfully'
                }

                this.eotlStore.alertSuccess(message)
            }

            this.loading = false
        },
        async deleteSupplier(e) {
            e.preventDefault()
            this.eotlStore.alertWarning('Deleting is not implemented yet. Mark supplier as Inactive for now')
        }
    }
}
</script>
