<template>
    <div>
        <div class="row mb-5">
            <div class="col-6">
                <h3 class="mb-0">
                    <i class="fa fa-store-alt"></i>
                    Suppliers
                </h3>
            </div>
            <div class="col-3">
                <dropdown-zones
                    v-bind:zones="store.zones"   
                    v-bind:zoneId="zoneId"
                    @event-zoneId="changeZone">
                </dropdown-zones>
            </div>
            <div class="col-3 text-right">
                <router-link :to="{ name: 'inventory:supplier-create' }" class="btn btn-primary">
                    Add Supplier
                </router-link>
            </div>
        </div>
        <div class="row">
        <div alt="Current Zone" class="col-lg-8">
            <h3 class="display-4 mb-2">
                {{ zoneName }} 
            </h3>
        </div>
        <div class="col-lg-4 text-right">
            <div alt="Suppliers Found" class="text-monospace">
                {{ suppliers.length }} Suppliers in 
                <span class="p-2 border border-dark text-uppercase">
                    Zone | {{ zoneId }}
                </span>
            </div>
        </div>        
        </div>
        <hr class="mb-0">
        <div class="mt-2 mb-4">
            <supplier-listing
                v-for="supplier in suppliers"
                v-bind:key="supplier.id"
                v-bind:supplier="supplier">
            </supplier-listing>
        </div>
    </div>
</template>

<script>
import _ from 'lodash'

import Loading from '@/components/Loading.vue'

import DropdownZones from '@/components/DropdownZones'
import SupplierListing from '@/components/SupplierListing'

import { useStore } from '@/store';
import { useEotlCore } from '@eotl/core/store';

export default {
    name: 'supplier-list',
    components: {
        Loading,
        DropdownZones,
        SupplierListing
    },
    data() {
        const store = useStore()
        const eotlStore = useEotlCore()

        const zone = _.find(store.zones.features, function(z) {
            return z.properties.abbr == store.config.zones_parent.zone
        })

        const zoneId = store.config.zones_parent.zone
        const zoneName = store.config.zones_parent.name
        if (zone !== undefined && 'properties' in zone) {
            const zoneName = zone.properties.name
        }

        return {
            store,
            eotlStore,
            zoneId,
            zoneName,
            loading: true,
            suppliers: []
        }
    },
    mounted() {
        this.fetchSuppliers()
    },
    methods: {
        async fetchSuppliers() {
            const response = await this.eotlStore.fetchGet('/suppliers')

            if (response.status == 'success') {
                this.suppliers = response.data
            }

            this.loading = false
        },
        async changeZone(zoneId) {
            console.log('changeZone', zoneId)
            const zone = _.find(this.store.zones.features, function(z) {
                return z.properties.abbr == zoneId
            })

            if (zone !== undefined && 'properties' in zone) {
                this.zoneName = zone.properties.name
            }

            this.zoneId = zoneId
        }
    }
}
</script>
