<template>
    <div>
        <div class="row mb-5">
            <div class="col-6">
                <h3 class="mb-0">
                    <i class="fa fa-store-alt"></i>
                    Create Supplier
                </h3>
            </div>
            <div class="col-6 text-right">
                <router-link :to="{ name: 'inventory:suppliers' }" class="btn btn-primary">
                    Cancel
                </router-link>
            </div>
        </div>
        <Loading :active="loading" spinner="mini-spinner"/>
        <form @submit="createSupplier">
            <SupplierEditor
                :action="'create'"
                :supplier="supplier"
                :categories="categories"
                :hours="hours"
                :details="details">
            </SupplierEditor>
            <button type="submit" class="btn btn-success btn-fullwidth">
                Add Supplier
            </button>
        </form>
        <br>
    </div>
</template>

<script>
import { ref } from 'vue'

import { friendlyId } from '@eotl/core/composables'

import Loading from '@/components/Loading.vue'
import SupplierEditor from '@/components/SupplierEditor'

import { useStore } from '@/store'
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'supplier-create',
    components: {
        Loading,
        SupplierEditor
    },
    setup(props) {
        const store = useStore()
        const eotlStore = useEotlCore()

        const action = ref('create')
        const loading = ref(false)
        const supplier = ref(store.defaults.supplier)
        const categories = ref([])
        const hours = ref(store.defaults.supplierHours)
        const details = ref(store.defaults.supplierDetails)
        const submitError = ref(null)

        return {
            store,
            eotlStore,
            action,
            loading,
            supplier,
            categories,
            hours,
            details,
            submitError
        }
    },
    computed: {
        supplierId() {
            return friendlyId.makeFid('', this.supplier.name, '')
        }
    },
    methods: {
        async createSupplier(e) {
            e.preventDefault()
            this.loading = true
            const supplierData = {
                supplier: this.supplier,
                hours: this.hours
            }
            
            const response = await this.eotlStore.fetchPost('/suppliers/create', supplierData)

            if (response.status == 'success') {
                const detailsUrl = '/suppliers/' + this.supplier.id + '/details'
                const responseDetails = await this.eotlStore.fetchPost(detailsUrl, this.details)

                let message = 'Supplier added successfully'
                if (responseDetails.status == 'success') {
                    message = 'Supplier details added successfully'
                }

                this.eotlStore.alertSuccess(message)
            }

            this.loading = false
        }
    }
}
</script>
