<template>
    <div class="tab-pane fade show active mb-4" id="v-pills-basics" role="tabpanel" aria-labelledby="v-pills-basics-tab">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" v-model="item.name" v-on:keyup="makeItemId" required>
        </div>
        <div class="form-group">
            <label>ItemID</label>
            <input type="text" class="form-control" v-model="item.id" required>
        </div>
        <div class="form-group">
            <label>Bundle ItemIDs (separate by ,)</label>
            <textarea type="text" class="form-control" v-model="bundle.items" required>
            </textarea>
        </div>
        <slot name="buttons-basic"></slot>
    </div>
</template>

<script>
import { friendlyId } from '@eotl/core/composables'

export default {
    name: 'bundle-basics',
    props: [ 'action', 'bundle' ],
    data() {
        return {
            itemId: '',
        }
    },
    created() {
        this.makeItemId()
    },
    watch: {
        itemId(newId, oldId) {
            this.item.id = friendlyId.makeFid('', this.item.name, '')
            return this.item.id
        }
    }, 
    methods: {
        makeItemId() {
            if (this.action == 'create') {
                this.itemId = friendlyId.makeFid('', this.item.name, '')
            }
        },
    }
}
</script>
