<template>
    <div class="row">
        <div class="col-lg-1">
            <img style="height: 30px;" :src="store.config.path_icons + category.id + '.svg'">
        </div>
        <div class="col-lg-9">
            <h4 class="mb-0">
                {{ category.name }}
            </h4>
        </div>
        <div class="col-lg-2 text-right">
            <router-link :to="{ name: 'inventory:category-manage', params: { id: category.id } }" class="btn btn-sm btn-primary">
                Manage
            </router-link>
        </div>
    </div>
</template>

<script>
import { useStore } from '@/store';

export default {
    name: 'category-list',
    props: ['category'],
    setup(){
        const store = useStore()
        return { store }
    },
    data() {
        return {
            categories: [],
            loading: true
        }
    },
}
</script>
