<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4>Basics</h4>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="category.name">
                    </div>
                    <div class="form-group">
                        <label>Category ID</label>
                        <input type="text" class="form-control" v-model="categoryId" disabled>
                    </div>
                    <div class="form-group">
                        <label>Group</label>
                        <select class="form-control" v-model="category.group" required>
                            <option v-for="group in store.groups" :value="group.id">
                                {{ group.name }}
                            </option>
                        </select>
                    </div>
                    <label>Icon</label>
                    <div class="mb-5 p-3 border text-center">
                        <img v-bind:src="store.config.path_icons + category.id + '.svg'">
                    </div>
                    <slot name="buttons"></slot>  
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4>Translations</h4>
                    <TranslationsList :kind="kind" :find="find" :group="'c'" :word="category.id" :translated="translationNew" />
                    <button v-if="editor == false" @click="showAddTranslation($event)" class="btn btn-primary mb-4">
                        Add Translation
                    </button>
                    <TranslationsEditor
                        :action="action"
                        :editor="editor"
                        :translation="translation"
                        @translated="translatedAdd">
                    </TranslationsEditor>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ref, reactive } from 'vue'

import { friendlyId } from '@eotl/core/composables'

import TranslationsList from '@/components/TranslationsList'
import TranslationsEditor from '@/components/TranslationsEditor'

import { useStore } from '@/store'
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'category-editor',
    components: {
        TranslationsList,
        TranslationsEditor
    },
    props: ['category'],
    setup(props) {
        const store = useStore()

        const kind = ref('word')
        const find = ref('')
        const action = ref('add')
        const editor = ref(false)

        const translation = ref({
            lang: store.config.lang,
            group: 'c',
            word: props.category.id,
            translation: ''
        })

        // Propagate to List
        const translationNew = ref('')
        const translatedAdd = (newTranslation) => {
            translationNew.value = newTranslation
        }

        return {
            store,
            kind,
            find,
            action,
            editor,
            translation,
            translationNew,
            translatedAdd
        }
    },
    inheritAttrs: false,
    computed: {
        categoryId() {
            const id = friendlyId.makeFid('', this.category.name, '');
            this.category.id = id;
            return id;
        }
    },
    watch: { 
        'category.id': function() {
            this.translation.word = this.category.id
            this.find = this.category.id
        }
    },
    methods: {
        showAddTranslation(e) {
            this.editor = true
        },
        btnAddTest() {
            this.translated = this.translatedTesting
        }
    }
}
</script>
