<template>
    <div>
        <p>
            Here you can access the Raw Data for this <strong>{{ kind }}</strong>. 
            This data is to share or use elsewhere. It is in a common portable
            format (JSON) that machines can easily understand. Think of it like
            a picture or an Mp3 which you can send to another user or embed in a website.
        </p>
        <div class="mb-4">
            <a class="btn btn-secondary" :href="url">
                API URL
            </a>
            <a class="btn btn-primary float-right" :download="filename" :href="url">
                Download Item (.json)
            </a>
        </div>
        <p v-if="!showData">Check the following box to see the Raw
            Data. Don't worry, you are not be able to break anything.
            <label>
                <input type="checkbox" @click="revealData">
                Show The Data
            </label>
        </p>
        <div v-if="showData" class="form-group mb-4">
            <label>JSON Data</label>
            <textarea @click="selectData" class="form-control mb-3" rows="8" readonly>{{ data }}</textarea>
        </div>
    </div>
</template>

<script>
import { ref } from 'vue'

export default {
    name: 'data-viewer',
    props: ['kind', 'filename', 'data', 'url'],
    setup(props) {
        const showData = ref(false)

        return {
            showData
        }
    },
    methods: {
        revealData() {
            this.showData = true         
        },
        selectData(event) {
            event.target.select()
        }
    }
}
</script>
