<template> 
    <select :value="measurement"  class="form-control" @change="onChange($event)">
        <option v-for="measurement in measurements" :key="measurement" :value="measurement">
            {{ measurement }}
        </option>
    </select>
</template>

<script>
import { ref } from 'vue'

import { useStore } from '@/store'

export default {
    name: 'dropdown-measurement',
    props: [ 'measurement' ],
    setup(props) {
        const store = useStore()
        const measurements = ref(store.measurements)

        return {
            store,
            measurements
        }
    },
    methods: {
        onChange(event) {
            this.$emit("changeMeasurement", event.target.value)
        }
    },
    emits: ['changeMeasurement']
}
</script>
