<template>
    <select class="form-control" :value="zoneId" @change="onChange($event)">
        <option v-if="showAll" :value="'all'">
            All
        </option>
        <option v-for="zone in zones.features" :value="zone.properties.abbr">
            {{ zone.properties.name }}
        </option>
        <option v-if=showOther :value="'other'">
            Other
        </option>
    </select>
</template>

<script>
import { ref } from 'vue'

import { useStore } from '../store'

export default {
    name: 'dropdown-zones',
    props: [ 'zoneId', 'showAll', 'showOther' ],
    data(){
        const store = useStore()
        const zones = ref(store.zones)

        return {
            zones
        }
    },
    methods: {
        onChange(event) {
            this.$emit("changeZone", event.target.value)
        }
    },
    emits: ['changeZone']
}
</script>
