<template> 
    <select class="form-control" @change="onChange($event)">
        <option value='all' selected>
            All
        </option>
        <option disabled>────────────────────</option>
        <option v-if="suppliers" v-for="supplier in suppliers" :value="supplier.id">
            {{ supplier.name }}
        </option>
        <option disabled>────────────────────</option>
        <option :key="unknown" :value="unknown">
            Unknown
        </option>
    </select>
</template>

<script>
import { ref, reactive } from 'vue'

import { useStore } from '@/store'

export default {
    name: 'dropdown-suppliers',
    props: [ 'supplierId' ],
    setup(props) {
        const store = useStore()
        const suppliers = reactive(store.suppliers)

        return {
            store,
            suppliers
        }
    },
    methods: {
        onChange(event) {
            this.$emit("changeSupplier", event.target.value)
        }
    },
    emits: ['changeSupplier']
}
</script>
