<template> 
    <select :value="currency" class="form-control" @change="onChange($event)">
        <option v-for="currency in currencies" :key="currency.iso" :value="currency.iso">
            {{ currency.iso.toUpperCase() }}
        </option>
    </select>
</template>

<script>
import { ref } from 'vue'

import { useStore } from '@/store'

export default {
    name: 'dropdown-currency',
    props: [ 'currency' ],
    setup(props) {
        const store = useStore()
        const currencies = ref(store.currencies)

        return {
            store,
            currencies
        }
    },
    methods: {
        onChange(event) {
            this.$emit("changeCurrency", event.target.value)
        }
    },
    emits: ['changeCurrency']
}
</script>
