<template>
    <div>
        <select :value="categoryId" class="form-control" @change="onChange($event)">
            <option :key="all" :value="'all'">
                Select category
            </option>
            <option disabled>────────────────────</option>
            <option v-for="category in categories" :key="category.id" :value="category.id">
                {{ category.name }}
            </option>
            <option disabled>────────────────────</option>
            <option :key="unknown" :value="'unknown'">
                Unknown
            </option>
        </select>
    </div>
</template>

<script>
import { ref } from 'vue'

import { useStore } from '@/store'

export default {
    name: 'dropdown-categories',
    props: [ 'categoryId' ],
    setup(props) {
        const store = useStore()
        const categories = ref(store.categories)

        return {
            store,
            categories
        }
    },
    methods: {
        onChange(event) {
            this.$emit('changeCategory', event.target.value)
        }
    },
    emits: ['changeCategory']
}
</script>
