<template> 
    <select class="form-control" @change="updateId($event)">
        <option v-for="group in groups" :value="group.id">
            {{ group.name }}
        </option>
        <option :value="'other'">
            Other
        </option>
    </select>
</template>

<script>
export default {
    name: 'dropdown-groups',
    props: [ 'groups', 'groupId' ],
    methods: {
        updateId(event) {
            this.$emit("event-groupId", event.target.value)
        }
    }
}
</script>
