<template> 
    <div class="dropdown">
        <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
            Add Items
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <router-link :to="{ name: 'inventory:item-create', params: { id: 'create' } }" class="btn btn-primary btn-block mr-4">
                Single Item
            </router-link>
            <input type="file" accept="text/csv" ref="fileInput" @change="onCSVPicked" class="d-none">
            <button class="btn btn-primary btn-block" @click="pickCSVFile">
                Many Items (CSV)
            </button>
        </div>
    </div>
</template>

<script>
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'dropdown-item-adder',
    props: ['supplierId'],
    setup() {
        const eotlStore = useEotlCore()

        return {
            eotlStore
        }
    },
    methods: {
        pickCSVFile() {
          this.$refs.fileInput.click()
        },
        async onCSVPicked(event) {
            if (this.supplierId == 'all') {
                this.eotlStore.alertDanger('Please select a supplier')
                throw `Please select a supplier`
            }

            const files = event.target.files
            let filename = files[0].name
            const fileReader = new FileReader()
            fileReader.readAsDataURL(files[0])
            this.csv = files[0]

            var formData = new FormData()
            formData.append('columnsMap', 'item,category,price,units')
            formData.append('file', this.csv)
            const apiEndpoint = this.store.config.url_api + '/items/import_csv/' + this.supplierId
            const response = await fetch(apiEndpoint, {
              method: 'POST',
              body: formData
            })

            if (!response.ok) {
                const error = await response.json()
                this.eotlStore.alertDanger(error)
                throw `Error response code: ${response.status}`
            }

            const added = await response.json()
            console.log(added)
            this.eotlStore.alertSuccess('Items from CSV added')
        }
    }
}
</script>
