<template>
    <form @submit="saveInventory">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="supplierId">Supplier</label>
                <DropdownSuppliers
                    v-model="supplierId"
                    @changeSupplier="changeSupplier">
                </DropdownSuppliers>
            </div>
            <div class="form-group col-md-3">
                <label for="units">Units</label>
                <input type="number" step="any" name="units" class="form-control" v-model="inventory.units">
            </div>
            <div class="form-group col-md-3">
                <label for="units">Measurement</label>
                <DropdownMeasurement
                    v-bind:measurement="item.measurement"
                    @changeMeasurement="changeMeasurement">
                </DropdownMeasurement>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">
                        {{ currencySymbol }}
                    </span>
                    <input type="number" step="any" name="price" class="form-control" v-model="inventory.price">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="currency">Currency</label>
                <DropdownCurrency
                    :currency="inventory.currency"
                    @changeCurrency="changeCurrency">
                </DropdownCurrency>
            </div>
            <div class="form-group col-md-4">
                <label>&nbsp;</label>
                <button class="btn btn-primary btn-block">
                    Add Inventory
                </button>
            </div>
        </div>
    </form>
</template>

<script>
import { ref, computed } from 'vue'

import DropdownCurrency from '@/components/DropdownCurrency'
import DropdownMeasurement from '@/components/DropdownMeasurement'
import DropdownSuppliers from '@/components/DropdownSuppliers'

import { useStore } from '@/store'
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'inventory-edit',
    components: {
        DropdownCurrency,
        DropdownMeasurement,
        DropdownSuppliers
    },
    props: [ 'inventory', 'item', 'action' ],
    setup(props) {
        const store = useStore()
        const eotlStore = useEotlCore()

        const supplierId = computed(() => { 
            return props.inventory.supplierId
        })

        const changeSupplier = (newSupplier) => {
            props.inventory.supplierId = newSupplier
        }

        const changeMeasurement = (newMeasurement) => {
            props.inventory.measurement = newMeasurement
        }

        const currencySymbol = ref('')
        const changeCurrency = (newCurrency) => {
            props.inventory.currency = newCurrency
        }

        return {
            store,
            eotlStore,
            supplierId,
            changeSupplier,
            changeMeasurement,
            changeCurrency,
            currencySymbol
        }
    },
    mounted() {
        console.log('Mounted InventoryEditor:', this.action)
    },
    methods: {
        resetForm() {
            this.inventory.price = 0.0
            this.inventory.units = 1
        },
        async saveInventory(e) {
            e.preventDefault()

            if (this.action == 'create') {
                const response = await this.eotlStore.fetchPost('/inventory/create', this.inventory)
            
                if (response.status == 'success') {
                    const inventoried = JSON.stringify(this.inventory)
                    this.$emit("inventoried", inventoried)

                    this.resetForm()
                } else {
                    this.eotlStore.alertWarning(response)
                }
            }
            else if (this.action == 'edit') {
                const response = await this.eotlStore.fetchPatch('/inventory/update', this.inventory)
                
                if (response.status == 'success') {
                    this.$emit("inventoried", this.inventory)
                } else {
                    this.eotlStore.alertWarning(response)
                }
            }
        },
        changeMeasurement(measurement) {
            this.inventory.measurement = measurement
        },
        changeSupplierId(supplierId) {
            this.inventory.supplierId = supplierId
        },
        updateInventory() {
            alert('Update inventory')
        }
    },
    emits: ['inventoried']
}
</script>
