<template>
    <div class="row pt-2 pb-2">
        <div class="col-7">
            <a class="" v-bind:href="store.config.url_inventory + '/suppliers/' + inventory.supplierId">
                {{ showSupplierName }}
            </a>
        </div>
        <div class="col-2 text-monospace text-left">
            {{ showPrice }}
        </div>
        <div class="col-1 text-right">
            <router-link :to="{ name: 'inventory:item-inventory-edit', params: { id: $route.params.id, supplierId: inventory.supplierId } }"
                class="btn btn-sm btn-primary">
                Edit
            </router-link>
        </div>
        <div class="col-1 text-right">
            <button class="btn btn-sm btn-info" @click="inventoryOut(inventory.supplierId)">
                Out
            </button>
        </div>
        <div class="col-1 text-right">
            <button class="btn btn-sm btn-danger" @click="inventoryDelete(inventory.supplierId)">
                Del
            </button>
        </div>
    </div>
</template>

<script>
import { currencySymbol } from '@/composables/currency'
import { supplierName } from '@/composables/supplier'

import { useStore } from '@/store'

export default {
    name: 'inventory-listing',
    components: {},
    props: ['editInventory', 'inventory', 'item'],
    setup(props) {
        const store = useStore()

        return {
            store
        }
    },
    computed: {
        showSupplierName() {
            return supplierName(this.store.suppliers, this.inventory.supplierId)
        },
        showPrice() {
            const symbol = currencySymbol(this.store.currencies, this.inventory.currency)
            const price = this.inventory.price.toFixed(2)
            return symbol + ' ' + price
        }
    },
    methods: {
        inventoryOut(supplierId) {
            alert('Out of Stock: ', supplierId)
        },
        inventoryDelete(supplierId) {
            alert('Delete Inventory: ', supplierId)
        },
        inventoryEdit(supplierId) {
            alert('Editing Inventory:', supplierId)
            this.$emit("inventoryEditor", this.inventory.supplierId)
        }
    },
    emits: ['inventoryEditor']
}
</script>
