<template>
    <div class="tab-pane fade show active mb-4" id="v-pills-translations" role="tabpanel" aria-labelledby="v-pills-translations-tab">
        <h4>Translations</h4>
        <TranslationsList :kind="kind" :find="find" :group="'i'" :word="item.id" :translated="translationNew" />
        <button v-if="editor == false" @click="showAddTranslation($event)" class="btn btn-primary mb-4">
            Add Translation
        </button>
        <TranslationsEditor
            :action="action"
            :editor="editor"
            :translation="translation"
            @translated="translatedAdd">
        </TranslationsEditor>
    </div>
</template>

<script>
import { ref } from 'vue'
import * as _ from 'lodash-es'

import TranslationsList from '@/components/TranslationsList'
import TranslationsEditor from '@/components/TranslationsEditor'

import { useStore } from '@/store'
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'item-translations',
    components: {
        TranslationsList,
        TranslationsEditor
    },    
    props: ['item', 'translations'],
    data() {
        const store = useStore()

        return {        
            store,
            existing: [],
            translation: {
                lang: store.config.lang,
                group: 'i',
                word: this.item.id,
                translation: ''
            },
            kind: 'word',
            find: this.item.id,
            action: 'add',
            editor: false,
        }
    },
    setup() {
        const translationNew = ref('')
        const translatedAdd = (newTranslation) => {
            translationNew.value = newTranslation
        }

        return {
            translationNew,
            translatedAdd
        }
    },
    watch: {
        'item.id': function() {
            this.translation.word = this.item.id
            this.find = this.item.id
        }
    },
    methods: {
        showAddTranslation(e) {
            this.editor = true
        }
    }
}
</script>
