<template>
    <div class="mb-4">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" v-model="item.name" v-on:keyup="makeItemId" required>
        </div>
        <div class="form-group mb-3">
            <label>EOTL IDs</label>
            <div class="input-group">
                <div class="input-group-text">#</div>
                <input type="text" class="form-control" v-model="item.id" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-md-4">
                <label>Category</label>
                <DropdownCategories
                    v-bind:categoryId="item.categoryId"
                    @changeCategory="changeCategory">
                </DropdownCategories>
            </div>
            <div class="form-group col-md-4">
                <label>Units (default)</label>
                <input type="text" class="form-control" v-model="item.units" required>
            </div>
            <div class="form-group col-md-4">
                <label>Measurement (default)</label>
                <DropdownMeasurement
                    v-bind:measurement="item.measurement"
                    @changeMeasurement="changeMeasurement">
                </DropdownMeasurement>
            </div>
        </div>
        <slot name="buttons-basic"></slot>
    </div>
</template>

<script>
import { ref } from 'vue'

import { friendlyId } from '@eotl/core/composables'

import DropdownCategories from '@/components/DropdownCategories'
import DropdownMeasurement from '@/components/DropdownMeasurement'

import { useStore } from '@/store'

export default {
    name: 'item-basics',
    props: [ 'id', 'action', 'item' ],
    components: {
        DropdownCategories,
        DropdownMeasurement
    },
    setup(props) {
        const store = useStore()
        const itemId = ref('')

        const changeCategory = (newCategory) => {
            props.item.categoryId = newCategory
        }

        const changeMeasurement = (newMeasurement) => {
            props.item.measurement = newMeasurement
        }

        return {
            store,
            itemId,
            changeCategory,
            changeMeasurement
        }
    },
    created() {
        this.makeItemId()
    },
    watch: {
        id() {
            this.makeItemId()
        }
    }, 
    methods: {
        makeItemId() {
            console.log('makeItemId id', this.id)
            if (this.id == 'create') {
                this.item.id = friendlyId.makeFid('', this.item.name, '')
            }
        }
    }
}
</script>
