<template>
    <div class="tab-pane fade show active mb-4" id="v-pills-inventory" role="tabpanel" aria-labelledby="v-pills-inventory-tab">
        <div class="d-flex justify-content-between">
            <div>
                <h4>Edit Inventory</h4>
            </div>
            <div>
                <router-link :to="{ name: 'inventory:item-inventory', params: { id: $route.params.id } }"
                    class="btn btn-sm btn-primary">
                    Back
                </router-link>
            </div>
        </div>
        <InventoryEditor
            :action="'edit'"
            :inventory="inventory"
            :item="item">
        </InventoryEditor>
    </div>
</template>

<script>
import { ref, reactive } from 'vue'

import InventoryEditor from '@/components/InventoryEditor'

import { useStore } from '@/store'

export default {
    name: 'item-inventory-edit',
    components: {
        InventoryEditor
    },
    props: ['item'],
    setup(props) {
        const store = useStore()
        const inventory = reactive(store.defaults.inventory)

        return {
            store,
            inventory
        }
    },
    mounted() {},
    methods: {
        editInventory(newId) {
            console.log('ItemInventoryEdit -> editInventory ', newId)
            return newId
        }
    }
}
</script>
