<template>
    <div class="tab-pane fade show active mb-4" id="v-pills-media" role="tabpanel" aria-labelledby="v-pills-media-tab">
        <h4>Media</h4>
        <ul v-if="media.length > 0" class="list-unstyled">
            <li v-for="item in media" v-bind:key="item.id">
                <div class="row mb-3">
                    <div class="col-3">
                        <img v-bind:src="item.value">
                    </div> 
                    <div class="col-5">
                        <span class="text-monospace">{{ item.value }}</span>
                    </div>
                    <div class="col-2">
                        <button @click="makeDefault(item.id)" class="btn btn-sm btn-info">
                            Default
                        </button>
                    </div> 
                    <div class="col-2">
                        <button @click="removeMedia(item.id)" class="btn btn-sm btn-danger">
                            Remove
                        </button>
                    </div>
                </div>
                <hr class="light">
            </li>
        </ul>
        <hr class="light">
        <form @submit="addMedia">
            <label for="">Image File Name</label>
            <div class="form-row">
                <div class="form-group col-md-9">
                    <input type="text" v-model="detail" class="form-control" placeholder="close-up-of-item.jpg">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary btn-block">
                        Add Image
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'item-media',
    components: {
    },
    props: [ 'item', 'media' ],
    data() {
        return {
            loading: false,
            allowed: ['image', 'image_default', 'video'],
            detailId: 'image',
            detail: '',
        }
    },
    methods: {
        addMedia(e) {
            e.preventDefault()

            const eotlStore = useEotlCore()
            const allowed = ['jpg', 'jpeg', 'png', 'gif']
            const re = /(?:\.([^.]+))?$/
            const ext = re.exec(this.detail)[1] 

            if (allowed.includes(ext)) {
                const newMedia = {
                    itemId: this.item.id,
                    detailsId: this.detailId,
                    value: this.detail
                }
                this.loading = true
                eotlStore.fetchPatch('/items/details/' + this.item.id, {
                    details: [newMedia]
                }).then(response => {
                    console.log(response)
                    eotlStore.alertSuccess('Updated Item successfully')
                    this.loading = false
                    this.detail = '' 
                    this.media.push(newMedia)
                }).catch(error => {
                    eotlStore.alertDanger(error)
                    this.loading = false
                })
            } else {
                eotlStore.alertWarning('Please specfiy a file ending in .jpg .jpeg .png .gif')
            }
        },
        removeMedia(e) {
            console.log(e)
            alert('will remove media')
        },
        makeDefault(e) {
            alert('will make default')

        }
    }
}
</script>
