<template>
    <div class="tab-pane fade show active mb-4" id="v-pills-data" role="tabpanel" aria-labelledby="v-pills-data-tab">
        <div class="d-flex justify-content-between">
            <div>
                <h4>Data</h4>
            </div>
            <div>
            </div>
        </div>
        <div class="mb-4">
            <p>
                The inventory data for the <code>#{{ item.id }}</code> item is publically:
                <span v-html="dataStatus"></span>
            </p>
            <div class="form-group">
                <label>Change Data Sharing</label>
                <select v-model="item.isPublic" @change="saveSharing($event)" class="form-control">
                    <option value="0">Not Shared</option>
                    <option value="1">Shared</option>
                </select>
            </div>
        </div>
        <p><strong>Raw Data</strong></p>
        <DataViewer
            :kind="'item'"
            :filename="filename"
            :data="item"
            :url="url">
        </DataViewer>
    </div>
</template>

<script>
import { ref } from 'vue'

import DataViewer from '@/components/DataViewer'

import { useStore } from '@/store'
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'item-data',
    components: {
        DataViewer
    },
    props: ['item'],
    setup(props) {
        const store = useStore()
        const eotlStore = useEotlCore()

        const url = ref('')
        const filename = ref('')

        return {
            store,
            eotlStore,
            url
        }
    },
    computed: {
        dataStatus() {
            let status = '<strong class="text-warning">not shared</strong>'
            if (this.item.isPublic) {
                status = '<strong class="text-success">is being shared</strong>'
            }

            return status
        }
    },
    watch: {
        item(newItem, oldItem) {
            this.url = this.store.config.url_api + '/items/details/' + newItem.id + this.store.config.api_ending
            this.filename = newItem.id + '.json'
        },
    },
    methods: {
        async saveSharing(event) {
            const response = await this.eotlStore.fetchPatch('/items/' + this.item.id, this.item)

            if (response.status == 'success') {
                this.eotlStore.alertSuccess('Data Sharing updated')
                this.item.isPublic = event.target.value
            }
        }
    }
}
</script>
