<template>
    <div class="tab-pane fade show active mb-4" id="v-pills-packaging" role="tabpanel" aria-labelledby="v-pills-packaging-tab">
        <h4>Packaging</h4>
        <div class="form-group">
            <label>Short ID</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">https://eotl.link/</div>
                </div>
                <input type="text" class="form-control" v-model="shortId" required>
            </div>
        </div>
        <div v-if="tags.length > 0">
        <ul class="list-unstyled">
            <li v-for="tag in tags">
                {{ tag }}
            </li>
        </ul>
        </div>
        <div v-else>
            <p class="text-muted">No tags created</p>
        </div>
        <div class="mb-4">
            <a href="/admin/tags/" class="btn btn-primary btn-block">
                Create New Tag
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'item-packaging',
    components: {
    },
    props: [ 'tags' ],
    data() {
        return {
            shortId: ''
        }
    },
    computed: {
    },
    mounted() {
    },
    filters: {
    },
    methods: {
    }
}
</script>
