<template>
    <div>
        <div class="row mb-2">
            <div class="col-6">
                <strong>
                    {{ itemName(item) }}
                </strong>
            </div>
            <div class="col-3">
                <span v-if="item.measurement == 'item' && item.units > 1">
                    Multiple Items
                </span>
                <span v-if="item.measurement == 'item' && item.units == 1">
                    {{ item.units }} Item
                </span>
                <span v-else-if="item.measurement == null">
                    {{ item.units}} (unknown)
                </span>
                <span v-else>
                    {{ item.units}} {{ item.measurement }}
                </span>
            </div>
            <div class="col-3 text-right">
                <a :href="store.config.url_inventory + '/items/' + item.id" class="btn btn-sm btn-secondary">
                    View
                </a>
                <router-link :to="{ name: 'inventory:item-basics', params: { id: item.id } }" class="btn btn-sm btn-primary ml-2">
                    Manage
                </router-link>
            </div>
        </div>
        <hr class="light mt-2 mb-2">
    </div>
</template>

<script>
import { itemName } from '@/composables/item'

import { useStore } from '@/store'

export default {
    name: 'item',
    props: ['item'],
    setup(){
        const store = useStore()

        return {
            store,
            itemName
        }
    }
}
</script>
