<template>
    <div class="tab-pane fade show active mb-4" id="v-pills-inventory" role="tabpanel" aria-labelledby="v-pills-inventory-tab">
        <h4>Inventory</h4>
        <div v-if="item.inventories.length > 0" class="">
            <ul class="list-unstyled border-top">
                <li class="mb-3 border-bottom" v-for="inventory in item.inventories" :key="inventory.id">
                    <InventoryListing
                        :item="item"
                        :inventory="inventory"
                        @inventoryEdit="editInventory(editInventory)">
                    </InventoryListing>
                </li>
            </ul>
        </div>
        <div v-else>
            <p class="py-2 px-3 bg-light">
                <em class="text-muted">No inventories of this item yet</em>
            </p>
        </div>
        <div>
            <h4>Add Inventory</h4>
            <InventoryEditor
                :action="'create'"
                :inventory="inventory"
                :item="item"
                @inventoried="inventoryAdd">
            </InventoryEditor>
        </div>
    </div>
</template>

<script>
import { ref, reactive } from 'vue'

import InventoryListing from '@/components/InventoryListing'
import InventoryEditor from '@/components/InventoryEditor'

import { useStore } from '@/store'

export default {
    name: 'item-inventory',
    components: {
        InventoryListing,
        InventoryEditor
    },
    props: [ 'item' ],
    setup(props) {
        const store = useStore()
        const inventory = reactive(store.defaults.inventory)

        const inventoryAdd = (newInventory) => {
            const inventoried = JSON.parse(newInventory)
            props.item.inventories.push(inventoried)
        }

        return {
            store,
            inventory,
            inventoryAdd
        }
    },
    watch: {
        item(newItem, oldItem) {
            this.inventory.itemId = newItem.id
            this.inventory.share = 0
        },
    },
    methods: {
        editInventory(inventoryId) {
            console.log('editInventory ', inventoryId)
            return 'yolo'
        }
    }
}
</script>
