<template>
    <div :id="grouping" class="details-group mb-4">
        <h6>{{ grouping }}</h6>
        <div class="form-group mb-4">
            <label v-for="(detail, index) in checkboxes" v-bind:for="index">
                <input type="checkbox" @change="detailClick($event, grouping)"
                    :key="index" :value="index" v-model="details[grouping]"> 
               {{ detail }}
            </label>
        </div>
        <button v-if="showCheckboxesSave" @click="saveCheckboxes($event)" class="btn btn-sm btn-success">
            Save {{ grouping }}
        </button>
    </div>
</template>

<script>
import { ref } from 'vue'

import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'item-details-checkboxes',
    props: ['itemId', 'grouping', 'checkboxes', 'details'],
    setup() {
        const eotlStore = useEotlCore()
        const showCheckboxesSave = ref(false)

        return {
            eotlStore,
            showCheckboxesSave
        }
    },
    methods: {
        detailClick(e, type) {
            if (this.details[this.grouping].indexOf(e.target.value) > -1) {
                this.showCheckboxesSave = true
            }
        },
        async saveCheckboxes(e) {

            const detailData = {
                details: [{
                    itemId: this.itemId,
                    detailsId: this.grouping,
                    value: this.details[this.grouping].join(',')
                }]
            }

            const response = await this.eotlStore.fetchPatch('/items/details/' + this.itemId, detailData)

            if (response.status == 'success') {
                console.log(response)
                this.eotlStore.alertSuccess('Item details updated')
            }
        }
    }
}
</script>
