<template>
    <div class="tab-pane fade show active mb-4" id="v-pills-basics" role="tabpanel" aria-labelledby="v-pills-basics-tab">
        <h4>Basics</h4>
        <ItemEditor
            :id="id"
            :action="action"
            :item="item"
            :measurements="measurements">
        </ItemEditor>
        <div class="mb-4">
            <router-link :to="{ name: 'inventory:items' }" class="btn btn-primary">
                Cancel
            </router-link>
            <button v-if="action == 'create'" type="button" @click="createItem" class="btn btn-success float-right">
                Create Item
            </button>
            <button v-if="action == 'manage'" type="button" @click="updateItem" class="btn btn-success float-right">
                Update Item
            </button>
        </div>
        <pre class="mb-2"><code>id: {{ id }} - action: {{ action }}</code></pre>
        <pre class="mb-3"><code>{{ item }}</code></pre>
    </div>
</template>

<script>
import { ref } from 'vue'
import { useRouter } from "vue-router"

import { Measurements } from "@eotl/core/enums"

import ItemEditor from '@/components/ItemEditor'

import { useStore } from '@/store'
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'item-basics',
    props: ['action','item'],
    components: {
        ItemEditor
    },
    setup(props) {
        const router = useRouter()
        const store = useStore()
        const eotlStore = useEotlCore()

        const id = ref('')
        const tags = ref([])
        const measurements = ref(Measurements)
        const isPublic = ref(1)

        console.log('ItemBasics action:', props.action)

        return {
            router,
            store,
            eotlStore,
            id,
            tags,
            measurements,
            isPublic
        }
    },
    mounted() {
        this.id = this.$route.params.id 
    },
    watch: { 
        $route(to, from) {
            if (to.name == 'inventory:item-basics') {
                this.fetchItem(to.params.id)
            }
        }
    },
    methods: {
        async createItem() {
            this.loading = true
            const response = await this.eotlStore.fetchPost('/items', this.item)

            if (response.status == 'success') {
                const message = this.item.name + ' item created. Now fill out some details'
                this.eotlStore.alertSuccess(message)

                // Redirect to Details
                this.router.push({ path: '/items/' + this.item.id + '/details'})
            }

            this.loading = false
        },
        async updateItem() {
            this.loading = true
            const response = await this.eotlStore.fetchPatch('/items/' + this.item.id, this.item)

            if (response.status == 'success') {
                this.eotlStore.alertSuccess('Item Updated')
                this.loading = false
            }
        }
    }
}
</script>
