<template>
    <div class="tab-pane fade show active mb-4" id="v-pills-details" role="tabpanel" aria-labelledby="v-pills-details-tab">
        <h4>Details</h4>
        <div class="form-group mb-4">
            <label for="">Description</label>
            <textarea v-model="details.description" class="form-control mb-3"></textarea>
            <button v-if="showDescriptionSave" @click="saveDescription" class="btn btn-sm btn-success">
                Save Description
            </button>
        </div>

        <ItemDetailsCheckboxes
            v-for="grouping in ['sustainability', 'allergens', 'dietary', 'transparency']"
            :itemId="item.id"
            :grouping="grouping"
            :details="details"
            :checkboxes="store.details[grouping]">
        </ItemDetailsCheckboxes>

        <h6>Provenance</h6>
        <div class="form-group mb-4">
            <div class="row mb-4">
                <div class="col-6">
                    <label for="license">Copyright / License</label>
                    <select class="form-control" v-model="details.license">
                        <option v-for="(license, index) in store.licenses"
                            :value="index" :id="index">
                            {{ license }}
                        </option> 
                    </select>
                </div>
                <div class="col-6">
                    <label for="produced_in">Produced In</label>
                    <input type="text" class="form-control" v-model="details.produced_in">
                </div>
            </div>
            <button v-if="showProvenanceSave" @click="saveProvenance" class="btn btn-sm btn-success">
                Save Provenance
            </button>
        </div>
    </div>
</template>

<script>
import { ref } from 'vue'

import ItemDetailsCheckboxes from '@/components/ItemDetailsCheckboxes'

import { useEotlCore } from '@eotl/core/store'
import { useStore } from '@/store'

export default {
    name: 'item-details',
    components: { ItemDetailsCheckboxes },
    props: [ 'item', 'details'],
    setup() {
        const store = useStore()
        const eotlStore = useEotlCore()

        const showDescriptionSave = ref(true)
        const showProvenanceSave = ref(true)

        return {
            store,
            eotlStore,
            showDescriptionSave,
            showProvenanceSave,
        }
    },
    methods: {
        async saveDescription(e) {
            e.preventDefault()

            const descriptionData = {
                itemId: this.item.id,
                detailId: 'description',
                value: this.description
            }

            this.updateDetail(descriptionData)
        },
        async saveProvenance() {
            console.log('saveProvenance was clicked')
        },
        async updateDetail(detailData) {
            const details = {
                details: [detailData]
            }

            const response = await this.eotlStore.fetchPatch('/items/details/' + this.item.id, details)

            if (response.status == 'success') {
                this.eotlStore.alertSuccess('Item details updated')
            }
        }
    }
}
</script>
