<template>
    <div v-if="active" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</template>

<script setup>
const { active } = defineProps({ active: { type: Boolean, default: true } })
</script>