<template>
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h4>Listing</h4>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="supplier.name" v-on:keyup="makeSupplierId" required>
                    </div>
                    <div class="form-group">
                        <label>EOTL IDs</label>
                        <div class="input-group">
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" v-model="supplier.id" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" v-model="supplier.description">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label>Picture</label>
                        <input type="text" class="form-control" v-model="supplier.picture">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <div class="float-right">
                        <i v-if="supplier.active == 1" class="fa fa-check text-success"></i>
                        <i v-else-if="supplier.active == 0" class="fa fa-ban text-danger"></i>
                        </div>
                        <select class="form-control" v-model="supplier.active" required>
                            <option value="0">
                                Inactive
                            </option>
                            <option value="1">
                                Active
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4>Location</h4>
                    <div class="form-row mb-2">
                        <div class="col-md-8 form-group">
                            <label>Street</label>
                            <input type="text" class="form-control" v-model="supplier.street" required>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Building</label>
                            <input type="text" class="form-control" v-model="supplier.building" required>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-md-6 form-group">
                            <label>Postal Code</label>
                            <input type="text" class="form-control" v-model="supplier.postalCode">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input type="text" class="form-control" v-model="supplier.city">
                        </div>
                    </div>
                    <hr>
                    <div class="form-row mb-2">
                        <div class="col-md-8 form-group">
                            <label>Coordinates</label>
                            <div class="input-group">
                                <input type="text" class="form-control" v-model="supplier.latitude">
                                <div class="input-group-append">
                                    <div class="input-group-text">lat</div>
                                </div>
                            </div>
                            <label>&nbsp;</label>
                            <div class="input-group">
                                <input type="text" class="form-control" v-model="supplier.longitude">
                                <div class="input-group-append">
                                    <div class="input-group-text">lon</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Locate</label>
                            <div class="input-group">
                                <button type="button" class="btn btn-primary btn-block" @click="getGeoCoords">
                                    Find Address
                                </button>
                            </div>

                            <label>Radius</label>
                            <div class="input-group">
                                <input type="number" class="form-control" v-model="supplier.radius">
                                <div class="input-group-append">
                                    <div class="input-group-text">km</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label>
                            Zone
                        </label>
                        <dropdown-zones
                            v-bind:zoneId="supplier.zoneId"
                            @message-zoneId="changeZoneId">
                        </dropdown-zones> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h4>Contact</h4>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="phone" v-model="details['phone']" placeholder="+1234567890" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" v-model="details['email']" placeholder="name@email.org" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Website</label>
                        <input type="url" v-model="details['website']" placeholder="https://website.com" class="form-control">
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h4>Details</h4>
                    <div class="form-group">
                        <label class="typo__label">Categories</label>
                        <Multiselect
                            v-model="categoriesSelected"
                            placeholder="Search categories"
                            label="category" track-by="id" :options="categoriesOptions"
                            :multiple="true" :taggable="true">
                        </Multiselect>
                    </div>
                    <div class="form-group">
                        <label>Inventory Data Sharing</label>
                        <select class="form-control"
                            v-model="supplier.inventoriesVisibility" required
                            @change="changeSharingType">
                            <option value="all">
                                All
                            </option>
                            <option value="selected-categories">
                                Selected Categories
                            </option>
                            <option value="selected-inventories">
                                Selected Inventories
                            </option>
                        </select>
                    </div>
                    <div v-if="showShareCategories" class="form-group">
                        <label>Inventory in Categories</label>
                        <Multiselect
                            v-model="visibleCategoriesSelected"
                            placeholder="Search categories"
                            label="category" track-by="id" :options="categoriesOptions"
                            :multiple="true" :taggable="true">
                        </Multiselect>
                    </div>
                    <div class="form-group">
                        <label>Note</label>
                        <textarea v-model="details['note']" placeholder="Whatever free form notes..." class="form-control">
                        </textarea>
                    </div>
                </div>
            </div>
            <!-- TODO 
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Fees</h4>
                </div>
                <div class="card-body">
                    <p>To be implemented with various discounts, etc...</p>
                </div>
            </div>
            -->
            <div class="card">
                <div class="card-body">
                    <h4>Availability</h4>
                    <label class="mb-3">Daily Open Hours</label>
                    <div v-for="(avail, day) in hours" class="form-row mb-4">
                        <div class="col-md-3">
                            {{ day.charAt(0).toUpperCase() + day.slice(1) }}
                        </div>
                        <div class="col-md-9">
                            <div v-for="hours in avail" class="row">
                                <div class="col-md-6">
                                    <input type="time" class="form-control" v-model="hours.opens">
                                </div>
                                <div class="col-md-6">
                                    <input type="time" class="form-control" v-model="hours.closes">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <label>Pre-Closing Time</label>
                        <div class="input-group mb-2">
                            <input type="number" class="form-control" step="15" v-model="supplier.preClosingTime">
                            <div class="input-group-append">
                                <div class="input-group-text">minutes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ref, computed } from 'vue'

import Multiselect from 'vue-multiselect'

import { friendlyId } from '@eotl/core/composables'

import DropdownZones from '@/components/DropdownZones'

import { useEotlCore } from '@eotl/core/store'
import { useStore } from '@/store'

export default {
    name: 'supplier-editor',
    components: {
        DropdownZones,
        Multiselect
    },
    props: ['action', 'supplier', 'categories', 'hours', 'details'],
    setup(props) {
        const store = useStore()
        const eotlStore = useEotlCore()
        const supplierId =  ref('')
        const zoneId = ref(props.supplier.zoneId)
    
        const categoriesOptions = ref(store.categories)
        const categoriesSelected = ref(props.categories)

        const showShareCategories = ref(false)
        const visibleCategoriesSelected = ref([])

        const lookupAddr = computed(() => {
            let address = props.supplier.street + ' ' + props.supplier.building

            if (props.supplier.postalCode != '') {
                address += ', ' + props.supplier.postalCode
            }

            if (props.supplier.city != '') {
                address += ', ' + props.supplier.city
            }

            return address
        })

        return {
            eotlStore,
            lookupAddr,
            supplierId,
            zoneId,
            categoriesOptions,
            categoriesSelected,
            showShareCategories,
            visibleCategoriesSelected
        }
    },
    created() {
        this.makeSupplierId()
    },
    watch: {
        supplierId(newId, oldId) {
            this.supplier.id = friendlyId.makeFid('', this.supplier.name, '')
            return this.supplier.id
        },
        categoriesSelected(newCats, oldCats) {
            let categoryIds = []
            Object.keys(newCats).forEach(function(cat) {
                var item = newCats[cat]
                categoryIds.push(item.id)
            })

            this.supplier.categories = categoryIds
        },
        visibleCategoriesSelected(newCats, oldCats) {
            let categoryIds = []
            Object.keys(newCats).forEach(function(cat) {
                var item = newCats[cat]
                categoryIds.push(item.id)
            })

            const categoriesCSV = categoryIds.join(',')
            this.supplier.visibleCategories = categoriesCSV
        }
    }, 
    methods: {
        makeSupplierId() {
            if (this.action == 'create') {
                this.supplierId = friendlyId.makeFid('', this.supplier.name, '')
            }
        },
        changeZoneId(id) {
            this.supplier.zoneId = id
        },
        changeSharingType(event) {
            if (event.target.value == 'selected-categories') {
                this.showShareCategories = true
            }
        },
        addCategories (newTag) {
            const tag = {
                name: newTag,
                code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
            }

            this.categoriesOptions.push(tag)
            this.categoriesSelected.push(tag)
        },
        async getGeoCoords() {
            const query = '?q=' + encodeURI(this.lookupAddr) + '&format=json'
            const response = await this.eotlStore.fetchGet('/services/osmr' + query)

            if (response.status == 'success') {
                this.eotlStore.alertSuccess('GeoCoordinates located, adding')
                this.supplier.latitude = response.data[0].lat
                this.supplier.longitude = response.data[0].lon

                // TODO: make radius a configurable value
                this.supplier.radius = 5
            }
        }
    }
}
</script>
