<template>
    <div class="row pt-3 pb-3 border-bottom">
        <div class="col-sm-12 col-md-12 col-lg-5">
            {{ supplier.name }}<br>
            <small class="text-muted">
                {{ supplier.street }} {{ supplier.building }}, {{ supplier.postalCode }} {{ supplier.city }}
            </small>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-2 text-center">
            <span v-if="supplier.active == 1">
                <i class="fa fa-store-alt"></i><br>
                <small>Active</small>
            </span>
            <span v-else-if="supplier.active == 0" class="text-muted">
                <i class="fa fa-store-alt-slash"></i><br>
                <small>Inactive</small>
            </span>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3 text-center">
            <i class="fa fa-clock"></i><br>
            <small>
            {{ todayTimes(supplier.businessTimes) }}
            </small>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 text-right">
            <a v-bind:href="store.config.url_inventory + '/suppliers/' + supplier.id" class="btn btn-sm btn-secondary">
                View
            </a>
            <router-link :to="{ name: 'inventory:supplier-manage', params: { id: supplier.id } }" class="btn btn-sm btn-primary ml-2">
                Manage
            </router-link>
        </div>
    </div>
</template>

<script>
import { useStore } from '@/store';

export default {
    name: 'supplier-listing',
    props: ['supplier'],
    setup(){
        const store = useStore()
        return { store }
    },
    methods: {
        todayTimes(weekTimes) {
            if (weekTimes) {
                var today = new Date().getDay()
                var times = weekTimes[today]
                var status = 'Open'
            } else {
                var status = 'Unknown Availability'
            }

            return status
        }
    }
}
</script>
