<template>
    <div>
        <div v-if="translations.length > 0" class="mb-4">
            <ul class="list-unstyled border-top">
                <li v-for="trans in translations" :key="trans.word" :value="trans.lang">
                    <div class="row border-bottom pt-2 pb-2">
                        <div class="col-5">
                            {{ trans.translation }}
                        </div>
                        <div class="col-2">
                            {{ trans.lang.toUpperCase() }}
                        </div>
                        <div class="col-5 text-right">
                            <button @click="editTranslation(trans.id)" class="btn btn-sm btn-primary">
                                Edit
                            </button>
                            <button @click="deleteTranslation(trans.lang)" class="btn btn-sm btn-danger ml-2">
                                Delete
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div v-else class="mb-4">
            <p class="bg-light p-3">
                No Translations Found
            </p>
        </div>
    </div>
</template>

<script>
import { ref } from 'vue'
import * as _ from 'lodash-es'

import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'translations-list',
    props: ['kind', 'find', 'group', 'word', 'translated'],
    setup() {
        const eotlStore = useEotlCore()
        const translations = ref([])

        return {
            eotlStore,
            translations
        }
    },
    inheritAttrs: false,
    watch: {
        find: function() {
            if (this.find !== 'undefined') {
                this.getTranslations(this.kind + '/' + this.find)
            }
        },
        translated: function() {
            const translatedObject = JSON.parse(this.translated.value)
            this.translations.push(translatedObject)
        }
    },
    methods: {
        editTranslation(id) {
            this.editor = true
            this.action = 'edit'
            this.translation = _.find(this.translations, { 'id': id })
        },
        async getTranslations(query) {
            const response = await this.eotlStore.fetchGet('/translations/' + query)

            if (response.status == 'success') {
                this.translations = response.data
            }
        },
        async deleteTranslation(lang) {
            const translationDelete = {
                group: this.group,
                lang: lang,
                word: this.word,
            }

            const response = await this.eotlStore.fetchDelete('/translations', translationDelete)

            if (response.status == 'success') {
                const filtered = this.translatons.filter(function(trans) {
                    return trans.lang != lang
                })
                this.translations = filtered
            }
        }
    }
}
</script>
