<template>
    <div v-if="editor" class="mb-4">
        <h4>{{ action }} Translation</h4>
        <div class="row">
            <div class="col-8 form-group">
                <label>Translation</label>
                <input type="text" class="form-control" placeholder="Item Name" v-model="translation.translation">
            </div> 
            <div class="col-4 form-group">
                <label>Language</label>
                <select class="form-control" v-model="translation.lang" required>
                    <option v-for="lang in store.languages" :value="lang.value">
                        {{ lang.text }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-6">
                <label>&nbsp;</label>
                <button @click="btnCancel" class="btn btn-outline-primary btn-block">
                    Cancel
                </button>
            </div>
            <div class="col-6">
                <label>&nbsp;</label>
                <button @click="btnSave" class="btn btn-primary btn-block">
                    Save Translation
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { ref } from 'vue'

import { useStore } from '@/store'
import { useEotlCore } from '@eotl/core/store'

export default {
    name: 'translation-editor',
    props: [ 'action', 'editor', 'translation' ],
    setup(props, context) {
        const eotlStore = useEotlCore()
        const store = useStore()

        const translationNew = ref({})

        return {
            eotlStore,
            store,
            translationNew
        }
    },
    watch: { 
        'translation.id': function() {
            console.log('TranslationEditor watch translation.id', this.translation.id)
        }
    },
    methods: {
        btnCancel(e) {
            e.preventDefault()
            this.translation.translation = ''
            this.editor = false
        },
        btnSave(e) {
            e.preventDefault()
            if (this.action == 'add') {
                this.addTranslation()
            } else if(this.action == 'edit') {
                this.updateTranslation()
            }
        },
        async addTranslation() {
            const response = await this.eotlStore.fetchPost('/translations', this.translation)
            
            if (response.status == 'success') {
                this.translationNew.value = JSON.stringify(this.translation)
                this.$emit('translated', this.translationNew)

                // Reset form
                this.translation.lang = this.store.config.lang
                this.translation.translation = ''
            }
        },
        async updateTranslation() {
            console.log('updateTranslation', this.translation)
            const response = await eotlStore.fetchPatch('/translations', this.translation)
     
            if (response.status == 'success') {
                this.eotlStore.alertSuccess('Translation updated')
            }
        }
    },
    emits: ['translated']
}
</script>
