<template>
    <div class="typeahead mb-5">
        <div class="form-row mb-3">
            <div :class="form.classesQuery">
                <label>
                    <i class="fa fa-search"></i>
                    Quick Search
                </label>
                <div class="float-right">
                    <i class="fa fa-spinner fa-spin" v-if="loading"></i>
                    <i class="fa fa-times" v-show="isDirty" @click="reset"></i>
                </div>
                <input type="text" class="form-control" autocomplete="off"
                       placeholder="Search inventory database..."
                       v-model="query.search"
                       @keydown.down="down"
                       @keydown.up="up"
                       @keydown.enter="hit"
                       @keydown.esc="reset"
                       @blur="reset"
                       @input="update">
            </div>
            <div class="col-md-2">
                <label>Filters</label>
                <select class="form-control" required
                        v-model="form.entities"
                        @change="chooseEntity($event)">
                    <option selected value="all">All</option>
                    <option value="details">Details</option>
                    <option value="locations">Locations</option>
                </select>
            </div>
            <div :class="form.classesParams">
                <label>Details</label>
                <select class="form-control"
                        v-model="form.detailGroup"
                        v-if="form.entities == 'details'">
                    <option :value="''" disabled>Choose...</option>
                    <option v-for="grouping in form.detailGroupings" :value="grouping">
                        {{ grouping }}
                    </option>
                </select>
                <div v-if="form.entities == 'locations'">
                    <DropdownZones
                        :showAll="false"
                        :showOther="false"
                        :zoneId="store.config.zones_parent.zone"
                        @changeZone="changeZone">
                    </DropdownZones>
                </div>
            </div>
        </div>
        <template v-for="grouping in form.detailGroupings">
        <div class="bg-light p-3"
            v-if="form.entities == 'details' && form.detailGroup == grouping">
            <label v-for="(detail, index) in form.detailCheckboxes[grouping]" v-bind:for="index">
                <input type="checkbox" :key="index" :value="index" v-model="query.details">
                {{ detail }} 
            </label>
        </div>
        </template>
        <ul v-show="hasItems" class="list-unstyled">
            <li v-for="(item, index) in items"
                    :class="activeClass(index) + ' mb-3'"
                    @mousedown="hit('items')"
                    @mousemove="setActive(index)">
                <i class="fa fa-clipboard-list"></i> {{ item.name }}
            </li>
            <li v-for="(category, index) in categories"
                    :class="activeClass(index) + ' mb-3'"
                    @mousedown="hit('categories')"
                    @mousemove="setActive(index)">
               <i class="fa fa-sitemap"></i> {{ category.name }}
            </li>
            <li v-for="(supplier, index) in suppliers"
                    :class="activeClass(index) + ' mb-3'"
                    @mousedown="hit('suppliers')"
                    @mousemove="setActive(index)">
                <i class="fa fa-store-alt"></i> {{ supplier.name }}
            </li>
        </ul>
    </div>
</template>

<script>
import { ref } from 'vue'

import DropdownZones from '@/components/DropdownZones'

import { useEotlCore } from '@eotl/core/store'
import { useStore } from '@/store'

export default {
    name: 'typeahead',
    components: {
        DropdownZones
    },
    setup() {
        const store = useStore()
        const eotlStore = useEotlCore()

        const limit = ref(5)
        const minChars = ref(3)
        const items = ref([])
        const categories = ref([])
        const suppliers = ref([])
        const query = ref({
            search: '',
            details: [],
            location: ''
        })

        const current = ref(-1)
        const loading = ref(false)
        const selectFirst= ref( false)
        const form = ref({
            classesQuery: 'col-md-10', 
            classesParams: 'd-none',
            entities: 'all',
            detailGroup: '',
            detailCheckboxes: store.details,
            detailGroupings: ['sustainability', 'allergens', 'dietary', 'transparency']
        })
 
        const changeZone = (newZone) => {
            console.log('changeZone to', newZone)
            console.log(query)
            query.value.location = newZone
        }

        return {
            store,
            eotlStore,
            limit,
            minChars,
            items,
            categories,
            suppliers,
            query,
            current,
            loading,
            selectFirst,
            form,
            changeZone
        }
    },
    computed: {
        queryString() {
            let queryString = '?'
                
            if (this.query.search != '') {
                queryString += 'q=' + this.query.search + '&'
            }
            if (this.query.details.length > 0) {
                queryString += 'details=' + this.query.details.join(',') + '&'
            }
            if (this.query.location != '') {
                queryString += 'location=' + this.query.location + '&'
            }
            return queryString
        },
        hasItems() {
            let lengths = this.items.length + this.categories.length + this.suppliers.length
            if (lengths > 0) {
                return lengths
            }
        },
        isEmpty() {
            return !this.query.search || !this.query.details || !this.query.location
        },
        isDirty() {
            if (!!this.query.search || this.query.details.length > 0 || !!this.query.location) {
                return true
            }
            return false
        }
    },
    methods: {
        onHit(entity, type) {
            window.location.href = this.store.config.url_inventory + '/' + type + '/' + entity.id
        },
        async update() {
            this.cancel()

            if (!this.query) {
                return this.reset()
            }

            if (this.minChars && this.query.length < this.minChars) {
                return
            }

            this.loading = true

            let response = await this.eotlStore.fetchGet('/search', this.queryString)

            if (response.status == 'success') {

                if ('items' in response.data) {
                    this.items = response.data.items
                }
                if ('categories' in response.data) {
                    this.categories = response.data.categories
                }
                if ('suppliers' in response.data) {
                    this.suppliers = response.data.suppliers
                }

                this.current = -1
                this.loading = false

                if (this.selectFirst) {
                    this.down()
                }

            } else {
                this.eotlStore.alertWarning(response)
            }
        },
        cancel() {
            // used to 'cancel' previous searches
        },
        reset() {
            this.items = []
            this.categories = []
            this.suppliers = []
            this.query.search = ''
            this.query.details = []
            this.query.zoneId = ''
            this.loading = false
        },
        setActive(index) {
            this.current = index
        },
        activeClass(index) {
            return {
                active: this.current === index
            }
        },
        hit(type) {
            console.log('this.current: ', this.current, ' type: ', type)
            if (this.current !== -1) {
                this.onHit(this[type][this.current], type)
            }
        },
        up() {
            if (this.current > 0) {
                this.current--
            } else if (this.current === -1) {
                this.current = this.items.length - 1
            } else {
                this.current = -1
            }
        },
        down() {
            if (this.current < this.items.length - 1) {
                this.current++
            } else {
                this.current = -1
            }
        },
        chooseEntity(e) {
            if (['details', 'locations'].indexOf(e.target.value) > -1) {
                this.form.classesQuery = 'col-md-7'
                this.form.classesParams = 'col-md-3' 
            } else {
                this.form.classesQuery = 'col-md-10'
                this.form.classesParams = 'd-none' 
            }
        }
    }
}
</script>

<style scoped>
.typeahead {
    position: relative;
}

.typeahead .fa-times {
    cursor: pointer;
}

.typeahead ul {
    position: absolute;
    padding: 0;
    margin-top: 8px;
    min-width: 100%;
    background-color: #fff;
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.25);
    z-index: 1000;
}

.typeahead li {
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.typeahead li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.typeahead li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 0;
}

.typeahead span {
    display: block;
    color: #2c3e50;
}

.typeahead .active {
    background-color: #3aa373;
}

.typeahead .active span {
    color: white;
}
</style>
