<template>
  <div>
    <div v-if="store.alert.show" v-bind:class="'mb-5 alert alert-dismissable alert-' + store.alert.style">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>{{ alert.title }}</h4>
      <p class="mb-0">{{ alert.message }}</p>
    </div>
    <Alert />
    <router-view v-slot="{ Component }">
      <keep-alive :key="$route.fullPath">
        <component v-if="Component" :is="Component" />
        <Home v-else />
      </keep-alive>
    </router-view>
  </div>
</template>

<script>
import { Alert, createAlertContext } from '@eotl/core/components'

import { useStore } from './store'

import Home from '@/views/Home'

export default {
    name: "ui-inventory",
    setup() {
      const store = useStore()

      createAlertContext()

      return { store }
    },
    components: {
        Alert,
        Home
    },
    methods: {
        init() {
            console.log('Mounted ui-inventory')
            this.store.loadZones()
            this.store.fetchCategories()
            this.store.fetchSuppliers()
        },
    },
    mounted() {
        this.init()
    }
};
</script>
